{% extends "layouts/main.html" %}

{% set title = 'What information is missing or insufficient?' %}


{% block questions %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Received
			</strong>
		</p>
	</div>

	{% set noteBox %}
		{{ govukTextarea({
			name: 'note-details',
			id: 'note-details',
			rows: 1,
			label: {
				html: 'Add a note for the referrer',
				classes: 'govuk-label--s'
			}
		}) }}
	{% endset -%}

	{% call govukFieldset({
		legend: {
		html: title,
		classes: 'govuk-fieldset__legend--l',
		isPageHeading: true
		}
	}) %}

		{% for category, subcategories in riskCategories() %}
			{% if data[slugify(category)] %}
				{% for subcategory, info_types in subcategories %}
					{% if data[slugify(category)].includes(subcategory) %}
						{% set items = [] %}
						{% for info_type, details in info_types %}
							{% set conditional = noteBox %}
							{% set detail_length = details | length %}
							{% if detail_length > 0 %}
								{% set more = [] %}
								{% for detail, empty in details %}
									{% set more = more | push({
										html: detail,
										value: detail
									}) %}
								{% endfor %}
								{% set conditional = govukCheckboxes({
									idPrefix: [slugify(subcategory), slugify(info_type)].join('-'),
									name: [slugify(subcategory), slugify(info_type)].join('-'),
									items: more,
									formGroup: {
										afterInputs: {html: noteBox}
									}
								}) %}
							{% endif %}

							{% set items = items | push({
								html: info_type,
								value: info_type,
								checked: checked(slugify(subcategory), info_type),
								conditional: {
									html: conditional
								}
							}) %}
						{% endfor %}

						{{ govukCheckboxes({
							idPrefix: slugify(subcategory),
							name: slugify(subcategory),
							fieldset: {
								legend: {
									html: subcategory,
									classes: 'govuk-fieldset__legend--m'
								}
							},
							items: items
						}) }}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

	{% endcall %}
{% endblock %}

{% block buttons %}
	<div class="govuk-button-group">
		{{ govukButton({
			text: 'Save and continue'
		}) }}

		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}
