{% extends "layouts/main.html" %}

{% set title = 'What information is missing or insufficient?' %}


{% block questions %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Received
			</strong>
		</p>
	</div>

	{% set noteBox %}
		{{ govukTextarea({
			name: 'note-details',
			id: 'note-details',
			rows: 1,
			label: {
				html: 'Add a note for the referrer',
				classes: 'govuk-label--s'
			}
		}) }}
	{% endset -%}

	{% call govukFieldset({
		legend: {
		html: title,
		classes: 'govuk-fieldset__legend--l',
		isPageHeading: true
		}
	}) %}

		{% if data['health-needs'] %}
			{% if data['health-needs'].includes('Communication needs') %}
				{{ govukCheckboxes({
					idPrefix: 'communication-needs',
					name: 'communication-needs',
					fieldset: {
						legend: {
							html: 'Communication needs',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and severity',
							value: 'Need and severity',
							checked: checked('communication-needs','Need and severity'),
							conditional: {
								html: noteBox
							}
						},
						{
							html: 'Info on independent living',
							value: 'Info on independent living',
							checked: checked('communication-needs','Info on independent living'),
							conditional: {
								html: noteBox
							}
						},
						{
							html: 'Support they have / will require',
							value: 'Support they have / will require',
							checked: checked('communication-needs','Support they have / will require'),
							conditional: {
								html: noteBox
							}
						}
					]
				}) }}
			{% endif %}

			{% if data['health-needs'].includes('Learning difficulties / disabilities') %}
				{{ govukCheckboxes({
					idPrefix: 'learning-difficulties',
					name: 'learning-difficulties',
					fieldset: {
						legend: {
							html: 'Learning difficulties / disabilities',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and effect on everyday life',
							value: 'Need and effect on everyday life',
							checked: checked('learning-difficulties','Need and effect on everyday life'),
							conditional: {
								html: noteBox
							}
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('learning-difficulties','Medication / treatment'),
							conditional: {
								html: noteBox
							}
						}
					]
				}) }}
			{% endif %}

			{% if data['health-needs'].includes('Mobility needs') %}
				{{ govukCheckboxes({
					idPrefix: 'mobility-needs',
					name: 'mobility-needs',
					fieldset: {
						legend: {
							html: 'Mobility needs',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and effect on everyday life',
							value: 'Need and effect on everyday life',
							checked: checked('mobility-needs','Need and effect on everyday life'),
							conditional: {
								html: noteBox
							}
						},
						{
							html: 'Ability to use stairs',
							value: 'Ability to use stairs',
							checked: checked('mobility-needs','Ability to use stairs'),
							conditional: {
								html: noteBox
							}
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('mobility-needs','Medication / treatment'),
							conditional: {
								html: noteBox
							}
						}
					]
				}) }}
			{% endif %}

			{% if data['health-needs'].includes('Epilepsy') %}
				{{ govukCheckboxes({
					idPrefix: 'epilepsy',
					name: 'epilepsy',
					fieldset: {
						legend: {
							html: 'Epilepsy',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Frequency / recency of seizures',
							value: 'Frequency / recency of seizures',
							checked: checked('epilepsy','Frequency / recency of seizures')
						},
						{
							html: 'When seizures typically occur (day, night, both)',
							value: 'When seizures typically occur (day, night, both)',
							checked: checked('epilepsy','When seizures typically occur (day, night, both)')
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('epilepsy','Medication / treatment')
						}
					]
				}) }}
			{% endif %}
		{% endif %}



		{# {% if data['risk-of-serious-harm'] %}
			{% if data['risk-of-serious-harm'].includes('Exploitation (risk to others)') %}
				{{ govukCheckboxes({
					idPrefix: 'exploitation',
					name: 'exploitation',
					fieldset: {
						legend: {
							html: 'Substance or alcohol abuse',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and severity',
							value: 'Need and severity',
							checked: checked('exploitation','Need and severity')
						},
						{
							html: 'Info on independent living',
							value: 'Info on independent living',
							checked: checked('exploitation','Info on independent living')
						},
						{
							html: 'Support they have / will require',
							value: 'Support they have / will require',
							checked: checked('exploitation','Support they have / will require')
						}
					]
				}) }}
			{% endif %}

			{% if data['risk-of-serious-harm'].includes('Learning difficulties / disabilities') %}
				{{ govukCheckboxes({
					idPrefix: 'learning-difficulties',
					name: 'learning-difficulties',
					fieldset: {
						legend: {
							html: 'Learning difficulties / disabilities',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and effect on everyday life',
							value: 'Need and effect on everyday life',
							checked: checked('learning-difficulties','Need and effect on everyday life')
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('learning-difficulties','Medication / treatment')
						}
					]
				}) }}
			{% endif %}

			{% if data['risk-of-serious-harm'].includes('Mobility needs') %}
				{{ govukCheckboxes({
					idPrefix: 'mobility-needs',
					name: 'mobility-needs',
					fieldset: {
						legend: {
							html: 'Mobility needs',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Need and effect on everyday life',
							value: 'Need and effect on everyday life',
							checked: checked('mobility-needs','Need and effect on everyday life')
						},
						{
							html: 'Ability to use stairs',
							value: 'Ability to use stairs',
							checked: checked('mobility-needs','Ability to use stairs')
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('communication-needs','Medication / treatment')
						}
					]
				}) }}
			{% endif %}

			{% if data['risk-of-serious-harm'].includes('Epilepsy') %}
				{{ govukCheckboxes({
					idPrefix: 'epilepsy',
					name: 'epilepsy',
					fieldset: {
						legend: {
							html: 'Epilepsy',
							classes: 'govuk-fieldset__legend--m'
						}
					},
					items: [
						{
							html: 'Frequency / recency of seizures',
							value: 'Frequency / recency of seizures',
							checked: checked('epilepsy','Frequency / recency of seizures')
						},
						{
							html: 'When seizures typically occur (day, night, both)',
							value: 'When seizures typically occur (day, night, both)',
							checked: checked('epilepsy','When seizures typically occur (day, night, both)')
						},
						{
							html: 'Medication / treatment',
							value: 'Medication / treatment',
							checked: checked('epilepsy','Medication / treatment')
						}
					]
				}) }}
			{% endif %}
		{% endif %} #}


	{% endcall %}
{% endblock %}

{% block buttons %}
	<div class="govuk-button-group">
		{{ govukButton({
			text: 'Save and continue'
		}) }}

		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}
