{% extends "layouts/main.html" %}

{% set title = 'Why has the referral been cancelled?' %}


{% block questions %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Received
			</strong>
		</p>
	</div>

	{{ govukRadios({
		idPrefix: 'reason',
		name: 'reason',
		fieldset: {
			legend: {
				html: title,
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Too high risk / ineligible',
				value: 'Too high risk / ineligible',
				checked: checked('reason','Too high risk / ineligible')
			},
			{
				html: 'No suitable property available',
				value: 'No suitable property available',
				checked: checked('reason','No suitable property available')
			},
			{
				html: 'Offer made but area unsuitable',
				value: 'Offer made but area unsuitable',
				checked: checked('reason','Offer made but area unsuitable')
			},
			{
				html: 'Rehoused by another landlord',
				value: 'Rehoused by another landlord',
				checked: checked('reason','Rehoused by another landlord')
			},
			{
				html: 'Change of circumstances',
				value: 'Change of circumstances',
				checked: checked('reason','Change of circumstances')
			},
			{
				html: 'Transferred to another prison',
				value: 'Transferred to another prison',
				checked: checked('reason','Transferred to another prison')
			}
		]
	}) }}
{% endblock %}


{% block buttons %}
	<div class="govuk-button-group">
		{{ govukButton({
			text: 'Save and continue'
		}) }}

		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}