{% extends "layouts/main.html" %}

{% set title = 'Hypothesis 2a' %}
{% set nav = false %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-l govuk-!-margin-bottom-0">
				{{ title }}
			</h1>
			{{ govukInsetText({
				html: '<p>Management Information provides insight into service usage, performance and user objective monitoring to enable growth of CAS-2 Bail through data driven decision making.</p><p><a href="https://vivace1.sharepoint.com/:p:/s/EXTERNAL-C646CAS2BailApplications/EfiHFrc4AldMmVYUYcg_Oz0B9vUpSmh05Zhy0hSH2c7alA?e=H8T0fp&nav=eyJzSWQiOjI2NiwiY0lkIjo3ODE0NTU0MDV9">View hypothesis details in Sharepoint</a></p>',
				classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
			}) }}
			<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">



			{% set version = "1" %}
			<h2 class="govuk-heading-m">
				Variant {{version}}
				{{ govukTag({
					classes: 'govuk-tag--yellow govuk-!-margin-left-2',
					text: 'In progress'
				}) }}
			</h2>

			{# <p>Add a process started from the dashboard of the MVP product being built to capture when a bed was unavailable on a per person basis.</p>
			<p>Utilises a lookup for the person&rsquo;s details and captures extra data based on the current interim Word document solution. Additional data may need capturing in the future, we&rsquo;re starting with what we hope is the minimum requirement.</p> #}

			{{ govukButton({
				text: 'View prototype',
				href: 'v'+version+'/status'
			}) }}






			{# {% set v1HTML %}
				{% set version = "1" %}
				<p>Information about this version</p>

				<p><a href="#0">View the research outputs on Miro</a>.</p>

				{{ govukButton({
					text: 'View prototype',
					href: '#0'
				}) }}
			{% endset %}

			{{ govukAccordion({
				id: 'previous',
				classes: 'govuk-!-margin-top-9',
				items: [
					{
						heading: {
							html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Researched</strong>'
						},
						content: {
							html: v1HTML
						}
					}
				]
			}) }} #}

		</div>
	</div>
{% endblock %}

