{% extends "layouts/main.html" %}

{% set title = 'Hypothesis 2a' %}
{% set nav = false %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-l govuk-!-margin-bottom-0">
				{{ title }}
			</h1>
			{{ govukInsetText({
				html: '<p>Management Information provides insight into service usage, performance and user objective monitoring to enable growth of CAS-2 Bail through data driven decision making.</p><p><a href="https://vivace1.sharepoint.com/:p:/s/EXTERNAL-C646CAS2BailApplications/EfiHFrc4AldMmVYUYcg_Oz0B9vUpSmh05Zhy0hSH2c7alA?e=H8T0fp&nav=eyJzSWQiOjI2NiwiY0lkIjo3ODE0NTU0MDV9">View hypothesis details in Sharepoint</a></p>',
				classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
			}) }}
			<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">



			{% set version = "2" %}
			<h2 class="govuk-heading-m">
				Variant {{version}}
				{{ govukTag({
					classes: 'govuk-tag--orange govuk-!-margin-left-2',
					text: 'Ready for review'
				}) }}
			</h2>

			<p>Moved the note for the referrer inline with each item on further information requests, rather than the last screen of the process in variant 1 or on the dashboard in the current product.</p>
			<p>The dashboard has been added to this variant too to highlight the suggested change of combining the processes for changing the status and sending a note to the referrer, this may prove to be wrong or a secondary note option might still be needed, but we think it will streamline the process by combining them.</p>

			{{ govukButton({
				text: 'View prototype',
				href: 'v'+version+'/dashboard'
			}) }}


			{% set version = "1" %}
			<h2 class="govuk-heading-m">
				Variant {{version}}
				{{ govukTag({
					classes: 'govuk-tag--blue govuk-!-margin-left-2',
					text: 'Reviewed'
				}) }}
			</h2>

			<p>Extended the change status journey to capture more structured data. Examples of this across requesting further information and cancelling the application.</p>

			{{ govukButton({
				text: 'View prototype',
				href: 'v'+version+'/status'
			}) }}



		</div>
	</div>
{% endblock %}

