{% extends "layouts/main.html" %}


{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Add assessment details
		</h1>
		<form action="dashboard-assigned">
			<div class="govuk-form-group">
			
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				Assessor name (optional)
				  </legend>
				  <div id="more-detail-hint" class="govuk-hint">
					The full name of the person assessing the application
					</div>
		
				  <input class="govuk-input" id="event-name" name="eventName" type="text">
				</fieldset>
</div>
<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						Nacro CAS2 reference number (optional)
					</legend>
					<div id="more-detail-hint" class="govuk-hint">
					The reference number from Open Housing. For example, 1018474
					  </div>
		  
					<input class="govuk-input" id="event-name" name="eventName" type="text">
				  </fieldset>
			  </div>
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save details
				</button>
				
			  </div>
		</form>

  </div>
</div>
{% endblock %}
