{% extends "layouts/main.html" %}

{% set title = 'What is the latest status of Jane Smith\'s application?' %}

{% block content %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Awaiting decision
			</strong>
		</p>
	</div>
<form action="status-check" method="post">
	<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
		  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
			<h1 class="govuk-fieldset__heading">
			  Where do you live?
			</h1>
		  </legend>
		  <div class="govuk-radios" data-module="govuk-radios">
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="state-1" name="state" type="radio" value="info-needed">
			  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
				More information requested
			  </label>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="state-2" name="state" type="radio" value="decision">
			  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
				Awaiting decision
			  </label>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="state-3" name="state" type="radio" value="waiting-list">
			  <label class="govuk-label govuk-radios__label" for="state-3">
				On waiting list
			  </label>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="state-4" name="state" type="radio" value="offered">
			  <label class="govuk-label govuk-radios__label" for="state-4">
				Place offered
			  </label>
			</div>
	
			<div class="govuk-radios__item">
				<input class="govuk-radios__input" id="state-5" name="state" type="radio" value="offer-accepted">
				<label class="govuk-label govuk-radios__label" for="state-5">
				  Offer accepted
				</label>
			  </div>
			  <div class="govuk-radios__item">
				<input class="govuk-radios__input" id="state-6" name="state" type="radio" value="offer-declined">
				<label class="govuk-label govuk-radios__label" for="state-6">
				Offer declined or withdrawn
				</label>
			  </div>
			  <div class="govuk-radios__item">
				<input class="govuk-radios__input" id="state-7" name="state" type="radio" value="withdrawn">
				<label class="govuk-label govuk-radios__label" for="state-8">
				Referral withdrawn
				</label>
			  </div>
			  <div class="govuk-radios__item">
				<input class="govuk-radios__input" id="state-8" name="state" type="radio" value="cancelled">
				<label class="govuk-label govuk-radios__label" for="state-8">
				Referral cancelled
				</label>
			  </div>
			  <div class="govuk-radios__item">
				<input class="govuk-radios__input" id="state-9" name="state" type="radio" value="arrival">
				<label class="govuk-label govuk-radios__label" for="state-9">
				Awaiting arrival
				</label>
			  </div>
		  </div>
		</fieldset>
	  </div>






	<div class="govuk-button-group">
		<button type="submit" class="govuk-button" data-module="govuk-button">
			Save and continue
		  </button>
	</form>
		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}