{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="moj-interruption-card">
			<div class="moj-interruption-card__content">
			  <h1 class="govuk-heading-l moj-interruption-card__heading">Jane Smith's application</h1>
			  <div class="govuk-body-l moj-interruption-card__body">
				<p><strong>CRN from NDelius: </strong>X985398</p>
			  </div>
				<div class="govuk-body" style="color:white;">
				<p><strong>Referrer name: </strong>Josh Clements</p>
				<p><strong>Referrerring institution: </strong>Liverpool Crown Court</p>
				<p><strong>Contact email address: </strong>jc@hmpps.gov.uk</p>
				<p><strong>Contact number: </strong>0123 45678</p>
				<p><strong>Application ID: </strong>J4gal449-3430mslgdk-81jnsf284kg</p>
			  </div>
			  <div class="govuk-button-group moj-interruption-card__actions">
		  
				<a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">
				 Update application status
				</a>
		  
				<a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse" style="border-color: white; background-color:#1d70b8 ; color:white;" data-module="govuk-button">
					Download as a PDF
				   </a>
		  
			  </div>
			</div>
		  </div>
	</div>
</div>
<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter">
			<nav class="govuk-!-margin-top-6" aria-label="Side navigation">
				<h2 class="govuk-body-s">Contents</h2>
				<ul class="govuk-list govuk-body-s">
					
					<li><a href="#applicant">Applicant details</a></li>
					<li><a href="#eligibility">Confirm eligibility</a></li>
					<li><a href="#consent">Confirm consent to apply on their behalf</a></li>
					<li><a href="#referrer">Add referrer details</a></li>
					<li><a href="#solicitor">Add solicitor details</a></li>
					<li><a href="#personal">Add personal details</a></li>
					<li><a href="#address">Add previous address</a></li>
					<li><a href="#edi">Add equality and diversity monitoring information</a></li>
					<li><a href="#areas">Add exclusion zones and preferred areas</a></li>
					<li><a href="#funding">Confirm funding and ID</a></li>
					<li><a href="#alleged">Add alleged offences</a></li>
					<li><a href="#probation">Add probation supervision details</a></li>
					<li><a href="#conviction">Add previous unspent convictions</a></li>
					<li><a href="#health">Add health needs</a></li>
					<li><a href="#concerns">Add information about concerns to the applicant and others</a></li>
					<li><a href="#bail">Add bail conditions</a></li>
					<li><a href="#hearing">Add bail hearing information</a></li>

				</ul>				
			
			</nav>
			</div>
	<div class="govuk-grid-column-three-quarters govuk-!-margin-top-6">
		

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="applicant">
			Applicant details
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Application type

				  </dt>
				  <dd class="govuk-summary-list__value">
					Court bail
				  </dd>
				
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					Full name
  
					</dt>
					<dd class="govuk-summary-list__value">
					 Jane Smith
					</dd>
				  
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  Date of birth
  
					</dt>
					<dd class="govuk-summary-list__value">
					  18 07 1995
					</dd>
				  
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					Nationality
  
					</dt>
					<dd class="govuk-summary-list__value">
					British
					</dd>
				  
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					Sex
  
					</dt>
					<dd class="govuk-summary-list__value">
					  Female
					</dd>
				  
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					PNC number
  
					</dt>
					<dd class="govuk-summary-list__value">
					  Not found
					</dd>
				  
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					CRN from NDelius
  
					</dt>
					<dd class="govuk-summary-list__value">
						X985398
					</dd>
				  
				  </div>
			
		
			  </dl>
			</div>
		  </div>

		
		<!-- eligibility -->
		

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="eligibility">
				Confirm eligibility
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Is Jane Smith eligible for short-term accommodation (CAS2) for bail?

				  </dt>
				  <dd class="govuk-summary-list__value">
					Yes, they are
				  </dd>
				
				</div>
		
			  </dl>
			</div>
		  </div>

		  	<!-- consent -->
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="consent">
				Confirm consent
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Has Jane Smith given their verbal consent to apply for short-term accommodation (CAS2) for bail?


				  </dt>
				  <dd class="govuk-summary-list__value">
					Yes
				  </dd>
				
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						When did they give consent?
  
  
					</dt>
					<dd class="govuk-summary-list__value">
						10 03 2025
					</dd>
				
				  </div>
		
			  </dl>
			</div>
		  </div>
<!--Referrer-->
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="referrer">
				Add referrer details
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Your name


				  </dt>
				  <dd class="govuk-summary-list__value">
					Josh Clements
				  </dd>
				 
				</div>
		
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Your email address
  
					</dt>
					<dd class="govuk-summary-list__value">
						jc@hmpps.gov.uk
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						What is your job title?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Court Bail Information Officer
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						What is your phone number?
  
					</dt>
					<dd class="govuk-summary-list__value">
						07782553456
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Where are you based?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Sefton Magistrates’ Court
					</dd>
					
				  </div>
		
			  </dl>
			</div>
		  </div>


<!--Solicitor-->
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="solicitor">
				Add solicitor details
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Does Jane Smith have a solicitor?


				  </dt>
				  <dd class="govuk-summary-list__value">
					Yes
				  </dd>
				
				</div>
		
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Full name
  
					</dt>
					<dd class="govuk-summary-list__value">
						John Doe
					</dd>
					
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Legal firm address
					</dt>
					<dd class="govuk-summary-list__value">
						Justin House<br>26 West St<br>Bromley<br> BR3 5AD
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Email address
  
					</dt>
					<dd class="govuk-summary-list__value">
						judgeandpriestley@legalfirm.co.uk
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						UK phone number
  
					</dt>
					<dd class="govuk-summary-list__value">
						02058450556
					</dd>
					
				  </div>
		
			  </dl>
			</div>
		  </div>

		  <h2 class="govuk-heading-m">About the applicant</h2>

		  <!--Applicant details-->
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title" id="personal">
			Add personal details
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					Where is Jane Smith being held in custody?


				  </dt>
				  <dd class="govuk-summary-list__value">
					Liverpool Crown Court
				  </dd>
				 
				</div>
		
				  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
					<dt class="govuk-summary-list__key">
						Does Jane Smith have a working mobile phone?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Yes
					</dd>
					
				  </div>
				  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
					<dt class="govuk-summary-list__key">
						UK phone number
					</dt>
					<dd class="govuk-summary-list__value">
						07764224647
					</dd>
					
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Is it a smart phone?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Yes
					</dd>
					
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						What is Jane Smith’s immigration status?
  
					</dt>
					<dd class="govuk-summary-list__value">
						UK citizen
					</dd>
					
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Is the gender Jane Smith identifies with the same as the sex registered at their birth?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Yes
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
					<dt class="govuk-summary-list__key">
						Is Jane Smith pregnant?
  
					</dt>
					<dd class="govuk-summary-list__value">
						Yes
					</dd>
				
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						What is their estimated due date?
  
					</dt>
					<dd class="govuk-summary-list__value">
					19 08 2025
					</dd>
				
				  </div>
		
			  </dl>
			</div>
		  </div>
<!--address-->

<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="address">
		Add previous address
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Did Jane Smith have a fixed address before being arrested?


		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
		 
		</div>

		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Address line 1

			</dt>
			<dd class="govuk-summary-list__value">
				19 Duke Street
				</dd>
				
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Town or city
			</dt>
			<dd class="govuk-summary-list__value">
			Bolton
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				County

			</dt>
			<dd class="govuk-summary-list__value">
			Greater Manchester
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Postcode

			</dt>
			<dd class="govuk-summary-list__value">
				BL2 0PK
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Which of the following best describes their living situation at the address?

			</dt>
			<dd class="govuk-summary-list__value">
				Temporarily staying with a relative or friend
			</dd>
		
		  </div>

	  </dl>
	</div>
  </div>

  <!--EDI-->
  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="edi">
		Add equality and diversity monitoring information
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Equality questions for Jane Smith

		  </dt>
		  <dd class="govuk-summary-list__value">
			No, skip the equality questions
		  </dd>
		
		</div>

	  </dl>
	</div>
  </div>

  <!--Area preferences, funding and ID-->
<h2 class="govuk-heading-m">Area, funding and ID</h2>
  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="areas">
		Add exclusion zones and preferred areas
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			First preferred area


		  </dt>
		  <dd class="govuk-summary-list__value">
			Liverpool
		  </dd>
		  
		</div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Reason for first preference

			</dt>
			<dd class="govuk-summary-list__value">
				It is close to the court where the case will be held
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Second preferred area
			</dt>
			<dd class="govuk-summary-list__value">
				Birkenhead
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Reason for second preference
			</dt>
			<dd class="govuk-summary-list__value">
				Their immediate family (parents, children, siblings) has lived in the area for at least five years
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter any other preference information

			</dt>
			<dd class="govuk-summary-list__value">
				Generally happy to go anywhere in North West (in and around Manchester and Liverpool) as knows public transport well and family are around here 
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Are there any exclusion zones or areas where Jane Smith should not be placed?
			</dt>
			<dd class="govuk-summary-list__value">
				Yes 
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Safeguarding details

			</dt>
			<dd class="govuk-summary-list__value">
				Jane Smith has to avoid North Preston area as she has a restraining order in place from a Ms Weston 
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Does Jane Smith have any gang affiliations?

			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details of the gang, including its names, the areas it operates in and the nature of their involvement

			</dt>
			<dd class="govuk-summary-list__value">
				Jane was in a gang called the North Street Betties in 2021, who operated in North Preston, but has since removed any affiliation with them, which was not received well by some senior members of the gang. She felt intimidated by members of the gang when she expressed wanting to leave and remove affiliation with them. She is worried that meeting any of them could result in harassment or harm. 
			</dd>
		
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Are there any rival gangs or county lines?

			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter the name and the area(s) they operate in
			</dt>
			<dd class="govuk-summary-list__value">
				The Betties have rivals in the South Preston area, but Jane doesn’t remember their names as it has been a while. 

She is concerned about being on remand with any other members of the gang she previously was involved in. 
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Is Jane Smith applying for a family unit property?
			</dt>
			<dd class="govuk-summary-list__value">
				No, they are not applying for a family unit property
			</dd>
		
		  </div>

	  </dl>
	</div>
  </div>

<!--funding-->
<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="funding">
	Confirm funding and ID
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			How will Jane Smith pay for their accommodation and the service charge?


		  </dt>
		  <dd class="govuk-summary-list__value">
			Housing benefit
		  </dd>
		
		</div>

		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Does Jane Smith have a National Insurance number?
			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
			Enter the number (optional)
			</dt>
			<dd class="govuk-summary-list__value">
				PB 94275 X
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Is Jane Smith currently receiving benefits?
			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Have they received any benefit sanctions in the last 6 months?

			</dt>
			<dd class="govuk-summary-list__value">
			No
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				What identity document (ID) does Jane Smith have?

			</dt>
			<dd class="govuk-summary-list__value">
				UK photo driving licence (full or provisional)
			</dd>
	
		  </div>
		
	


	  </dl>
	</div>
  </div>
  <!--Alleged offences-->
  <h2 class="govuk-heading-m">Offence information</h2>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="alleged">
		Add alleged offences
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Current alleged offence name

		  </dt>
		  <dd class="govuk-summary-list__value">
			Possession of a Class C Drug (Tranquilisers) 
		  </dd>
		
		</div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				When did the alleged offence take place?
			</dt>
			<dd class="govuk-summary-list__value">
				5 3 2025
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Current alleged offence name
			</dt>
			<dd class="govuk-summary-list__value">
				Wasting police time
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				When did the alleged offence take place?

			</dt>
			<dd class="govuk-summary-list__value">
				5 3 2025
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Provide a summary of the allegations

			</dt>
			<dd class="govuk-summary-list__value">
				Jane has been charged with Possession of a Class C drug (tranquilisers). She was found in possession of the drugs at home as it was reported by a neighbour due to Jane’s unusual behaviour. Officers attended and arrested Jane. Jane has been charged with both offences on 5th March 2025.
			</dd>
		
		  </div>
		
	


	  </dl>
	</div>
  </div>

  <!--Probation-->

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="probation">
		Add probation supervision details
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Is Jane Smith currently supervised by probation?

		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
		
		</div>

		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Community Probation Practitioner (CPP) full name
			</dt>
			<dd class="govuk-summary-list__value">
				Gerard Pritchard
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Probation region
			</dt>
			<dd class="govuk-summary-list__value">
				North West
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Email address

			</dt>
			<dd class="govuk-summary-list__value">
				gerardpritchard@probationregion.hmpps.uk
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				UK phone number

			</dt>
			<dd class="govuk-summary-list__value">
				025 4355 7664
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Has an OASys risk assessment been done in the last two years?

			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Has OASys been updated by a Community Probation Practitioner (CPP) since the alleged offence took place?
			</dt>
			<dd class="govuk-summary-list__value">
			Yes
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Is the applicant a risk to any of the following?
			</dt>
			<dd class="govuk-summary-list__value">
				Children, Low Risk<br>
				Public, Medium Risk <br>
				Known adult, Medium Risk<br>
				Staff, Low risk<br>
				Prisoners, Low risk
			</dd>
			
		  </div>
		
	


	  </dl>
	</div>
  </div>
<!--prev convictions-->
<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="conviction">
		Add previous unspent convictions
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Does Jane Smith have any previous unspent convictions?

		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes and it is from one of the relevant categories
		  </dd>
		 
		</div>

		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Select the conviction type
			</dt>
			<dd class="govuk-summary-list__value">
				Common assault
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Number of convictions of this type
			</dt>
			<dd class="govuk-summary-list__value">
				2
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Are they currently serving a sentence for any of these convictions?

			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
	
		  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Are there any safeguarding details to add about these convictions?

			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details of the safeguarding measures
			</dt>
			<dd class="govuk-summary-list__value">
				Restraining order in place for Ms Joanne Weston who was the victim of the assault in 2024.
			</dd>
		
		  </div>
		
	


	  </dl>
	</div>
  </div>
<!--health-->
<h2 class="govuk-heading-m">Concerns and needs</h2>
<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="health">
		Liaison and Diversion Assessment
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Has a Liaison and Diversion Assessment been carried out for Jane Smith?

		  </dt>
		  <dd class="govuk-summary-list__value">
			I do not know
		  </dd>
		
		</div>

	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Substance use
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Do they have any issues related to substance and alcohol use?

		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
	
		</div>
	
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details about the substances they use, including when, the method used, the amount taken and if they have a formal diagnosis
  
			</dt>
			<dd class="govuk-summary-list__value">
				Jane has disclosed a dependency on tranquilisers to help her calm and sleep. She takes double the suggested over-the-counter dose and takes them in the evening. She expresses she would find it useful to speak to professionals about her substance use.  
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Do they require any substitute medication for used substances?
  
			</dt>
			<dd class="govuk-summary-list__value">
			 No
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are they engaged with a drug and alcohol service?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Is there an intention to refer them to a drug and alcohol service?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No, the applicant is not in prison custody
			</dd>
		
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are they being released with naloxone?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No, the applicant is not in prison custody
			</dd>
			
		  </div>

	  </dl>
	</div>
  </div>


  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Physical and mobility
	  </h2>
	</div>
  <div class="govuk-summary-card__content">
	<dl class="govuk-summary-list">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Do they have any physical and mobility needs?
		</dt>
		<dd class="govuk-summary-list__value">
		  No
		</dd>
		
	  </div>
  
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they need any support as a result of this?
		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Can they climb stairs?
		  </dt>
		  <dd class="govuk-summary-list__value">
		   Yes
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Can they live independently?

		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
		
		</div>
	


	</dl>
  </div>
</div>

<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Mental health
	  </h2>
	</div>
  <div class="govuk-summary-card__content">
	<dl class="govuk-summary-list">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Do they have any mental health needs?
		</dt>
		<dd class="govuk-summary-list__value">
		  No
		</dd>
		
	  </div>
  
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they need any support as a result of this?
		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
	
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they receive any treatment for this?
		  </dt>
		  <dd class="govuk-summary-list__value">
		  No
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Are they engaged with a mental health service?

		  </dt>
		  <dd class="govuk-summary-list__value">
		No
		  </dd>
		
		</div>
	
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Will a referral be made for support in the community when they are released?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No, the applicant is not in prison custody
			</dd>
			
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				How are they currently presenting? (optional)
  
			</dt>
			<dd class="govuk-summary-list__value">
				N/A
			</dd>
		
		  </div>

	</dl>
  </div>
</div>


<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Communication and language
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they have any literacy, visual or hearing impairments?

		  </dt>
		  <dd class="govuk-summary-list__value">
		No
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Do they need an interpreter?
  
			</dt>
			<dd class="govuk-summary-list__value">
		  No
			</dd>
			
		  </div>
	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Learning difficulties and neurodiversity
	  </h2>
	</div>
  <div class="govuk-summary-card__content">
	<dl class="govuk-summary-list">
	  <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		<dt class="govuk-summary-list__key">
			Do they have any needs relating to learning difficulties or neurodiversity?
		</dt>
		<dd class="govuk-summary-list__value">
		 Yes
		</dd>
		
	  </div>
  
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Enter details of their needs, including if they have a formal diagnosis
		  </dt>
		  <dd class="govuk-summary-list__value">
			She is neurodiverse and has been diagnosed with ADHD. 
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they need any support as a result of this?
		  </dt>
		  <dd class="govuk-summary-list__value">
		  No
		  </dd>
		 
		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Do they receive any treatment for this?

		  </dt>
		  <dd class="govuk-summary-list__value">
		Yes
		  </dd>
		  
		</div>
	
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details about their treatment
			</dt>
			<dd class="govuk-summary-list__value">
				She takes stimulants to help her focus. Side effects include feeling aggressive, irritable, depressed, anxious or tense which could affect her interactions with others.
			</dd>
		
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are they vulnerable as a result of this?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No
			</dd>
			
		  </div>

	</dl>
  </div>
</div>


<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Brain injury
	  </h2>
	</div>
  <div class="govuk-summary-card__content">
	<dl class="govuk-summary-list">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Do they have a brain injury?
		</dt>
		<dd class="govuk-summary-list__value">
		No
		</dd>
		
	  </div>
  
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Do they need any support as a result of this?
		  </dt>
		  <dd class="govuk-summary-list__value">
		  No
		  </dd>
		 
		</div>
		<div class="govuk-summary-list__row ">
		  <dt class="govuk-summary-list__key">
			Do they receive any treatment for this?

		  </dt>
		  <dd class="govuk-summary-list__value">
		No
		  </dd>
		  
		</div>
	
		

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are they vulnerable as a result of this?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No
			</dd>
			
		  </div>

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Do they have difficulties interacting with other people as a result of their injury?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No
			</dd>
			
		  </div>

	</dl>
  </div>
</div>

<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Other health needs
	  </h2>
	</div>
  <div class="govuk-summary-card__content">
	<dl class="govuk-summary-list">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Are they managing any long term health conditions?
		</dt>
		<dd class="govuk-summary-list__value">
			No
		</dd>
		
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Do they experience seizures or epilepsy?
		</dt>
		<dd class="govuk-summary-list__value">
			No
		</dd>
		
	  </div>
  
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Have they experienced a stroke?
		  </dt>
		  <dd class="govuk-summary-list__value">
		  No
		  </dd>
		  </div>
		
		<div class="govuk-summary-list__row ">
		  <dt class="govuk-summary-list__key">
			Are they currently receiving regular treatment for cancer?

		  </dt>
		  <dd class="govuk-summary-list__value">
		No
		  </dd>
		 
		</div>
	
		

		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Do they have any other health needs?
  
			</dt>
			<dd class="govuk-summary-list__value">
				No
			</dd>
			
		  </div>

		  
		

	</dl>
  </div>
</div>


<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Information sources
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Where did you get the health needs information from?

		  </dt>
		  <dd class="govuk-summary-list__value">
			In person interview with applicant
		  </dd>
		 
		</div>

	  </dl>
	</div>
  </div>


  <!--risks-->
  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="concerns">
		Self-harm and suicide
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Has the applicant self-harmed or attempted suicide in the past?

		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		  
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Based on the information you have, are there any current concerns of self-harm or suicide?
  
			</dt>
			<dd class="govuk-summary-list__value">
			  No
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Does the applicant have any specific triggers related to self-harm or suicide?
  
			</dt>
			<dd class="govuk-summary-list__value">
			  No
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				How are they currently presenting? (optional)
  
			</dt>
			<dd class="govuk-summary-list__value">
			  Seem ok to me
			</dd>
			
		  </div>

	  </dl>
	</div>
  </div>


  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		ACCT notes
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Does the applicant have any ACCT notes?

		  </dt>
		  <dd class="govuk-summary-list__value">
			No, the applicant is not in prison custody
		  </dd>
		 
		</div>

	  </dl>
	</div>
  </div>


  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Violence and arson concerns
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Has the applicant had any convictions or behaviours noted related to violence or arson in the past?
		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
		 
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details of any incidents, including any known victims, their location and relationship to the applicant
			</dt>
			<dd class="govuk-summary-list__value">
				Related to Jane's previous unspent common assault convictions. Details were that she was acting threatening to Ms Weston who was an old friend in the North Preston area. Jane has not exhibited any violent or threatening behaviour since her conviction in 2024.  
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Based on the information you have, are there any current concerns around violence or arson?
			</dt>
			<dd class="govuk-summary-list__value">
			No
			</dd>
		
		  </div>
	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Living in the community
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Has the applicant had any convictions or behaviours noted related to aggression or hate towards others in the past?
		  </dt>
		  <dd class="govuk-summary-list__value">
			Yes
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter details, including if they have a history of bullying, intimidation or controlling behaviour
			</dt>
			<dd class="govuk-summary-list__value">
				It has been reported that Jane was threatening toward a group of older women who made her feel uncomfortable while in custody. Jane picked up a pipe and threw it around but did not hit or harm anyone. 
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Based on the information you have, has the applicant ever been a victim of violence, bullying, or intimidation from others?
			</dt>
			<dd class="govuk-summary-list__value">
			No
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are there any other concerns with the applicant living in the community?
			</dt>
			<dd class="govuk-summary-list__value">
			No
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Has a Cell Sharing Risk Assessment (CSRA) been done?
			</dt>
			<dd class="govuk-summary-list__value">
				No, the applicant is not in prison custody
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Are there any multi-agency risk management arrangements for Jane Smith?
			</dt>
			<dd class="govuk-summary-list__value">
				No, they do not have risk management arrangements
			</dd>
		
		  </div>
	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Safety of staff
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Has the applicant posed a risk to the safety of any staff in the past?

		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Based on the information you have, are there any current concerns on the safety of any staff?
			</dt>
			<dd class="govuk-summary-list__value">
			  No
			</dd>
		
		  </div>

	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Additional concerns
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Are there any additional past or present concerns related to the applicant?

		  </dt>
		  <dd class="govuk-summary-list__value">
			No, they do not have any additional concerns
		  </dd>
		
		</div>

	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Information sources
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Where did you get the information on concerns about Jane Smith from?

		  </dt>
		  <dd class="govuk-summary-list__value">
			In person interview with applicant, Previous or current OASys
		  </dd>
		 
		</div>

	  </dl>
	</div>
  </div>
<!--Bail information-->
<h2 class="govuk-heading-m">Bail information</h2>

<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="bail">
		Add bail conditions
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Are there any non-standard bail conditions being considered?

		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		
		</div>

	  </dl>
	</div>
  </div>
  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title" id="hearing">
		Add bail hearing information
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
		  <dt class="govuk-summary-list__key">
			Do you know when Jane Smith’s bail hearing is?

		  </dt>
		  <dd class="govuk-summary-list__value">
		Yes
		  </dd>
	
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Bail hearing date
  
			</dt>
			<dd class="govuk-summary-list__value">
				23 03 2025
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				What’s the name of the court where Jane Smith’s bail hearing will take place?
  
			</dt>
			<dd class="govuk-summary-list__value">
			Liverpool crown court
			</dd>
		
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				How will Jane Smith’s bail hearing be heard?
			</dt>
			<dd class="govuk-summary-list__value">
				In court
			</dd>
		
		  </div>
	  </dl>
	</div>
  </div>
		  <!--Confirm-->

</div>
{% endblock %}
