{% extends "layouts/main.html" %}

{% set title = 'What information do you need?' %}


{% block content %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Awaiting decision
			</strong>
		</p>
	</div>

	


	<form action="dashboard-withdraw" method="post">
	{{ govukCheckboxes({
		idPrefix: 'withdraw',
		name: 'withdraw',
		fieldset: {
			legend: {
				html: title,
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Personal information',
				value: 'Personal information',
				checked: checked('info-needed','Personal information')
			},

			{
				html: 'Exclusion zones and preferred areas',
				value: 'Exclusion zones and preferred areas',
				checked: checked('info-needed','Exclusion zones and preferred areas')
			},

			{
				html: 'Funding & ID',
				value: 'Funding & ID',
				checked: checked('info-needed','Funding & ID')
			},
		
			{
				html: 'Health needs',
				value: 'Health needs',
				hint: {
					text: "Including communication, learning difficulties and neurodiversity, mental health, physical health and mobility, brain injury, substance use and other health needs"
				},
				checked: checked('info-needed','Health needs')
			},
			{
				html: 'Concerns to the applicant and others',
				value: 'Concerns to the applicant and others',
				hint: {
					text: "Including self-harm and suicide, violence and arson, living in the community, risk management arrangements, safety of staff and additional concerns"
				},
				checked: checked('info-needed','Concerns to the applicant and others')
			},
		
			{
				html: 'Alleged offences',
				value: 'Alleged offences',
				checked: checked('info-needed','Alleged offences')
			},
			{
				html: 'Previous convictions',
				value: 'Previous convictions',
				checked: checked('info-needed','Previous convictions')
			},
			{
				html: 'Bail information',
				value: 'Bail information',
				checked: checked('info-needed','Bail information')
			},
			{
				html: 'Other',
				value: 'Other',
				checked: checked('info-needed','Other')
			}
		]
	}) }}




	<div class="govuk-button-group">
		<button type="submit" class="govuk-button" data-module="govuk-button">
			Save and continue
		  </button>
	</form>
		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}
