{% extends "layouts/main.html" %}

{% set title = 'Why was the referral withdrawn?' %}


{% block content %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Awaiting decision
			</strong>
		</p>
	</div>

	


	<form action="dashboard-withdraw" method="post">
	{{ govukCheckboxes({
		idPrefix: 'withdraw',
		name: 'withdraw',
		fieldset: {
			legend: {
				html: title,
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Referrer decided unsuitable',
				value: 'Referrer decided unsuitable',
				checked: checked('withdraw','Referrer decided unsuitable')
			},

			{
				html: 'Solicitor decided unsuitable ​',
				value: 'Solicitor decided unsuitable ​',
				checked: checked('withdraw','Solicitor decided unsuitable ​')
			},

			{
				html: 'Sentencer decided unsuitable',
				value: 'Sentencer decided unsuitable',
				checked: checked('withdraw','Sentencer decided unsuitable')
			},
		
			{
				html: 'Applicant transferred to another prison',
				value: 'Applicant transferred to another prison',
				checked: checked('withdraw','Applicant transferred to another prison')
			},
		
			{
				html: 'Applicant was denied bail',
				value: 'Applicant was denied bail',
				checked: checked('withdraw','Applicant was denied bail')
			},
			{
				html: 'Applicant was given custodial sentence',
				value: 'Applicant was given custodial sentence',
				checked: checked('withdraw','Applicant was given custodial sentence')
			},
			{
				html: 'Applicant was bailed to non CAS2 accommodation',
				value: 'Applicant was bailed to non CAS2 accommodation',
				checked: checked('withdraw','Applicant was bailed to non CAS2 accommodation')
			},
			{
				html: 'Applicant's sentencing hearing is too soon',
				value: 'Applicant's sentencing hearing is too soon',
				checked: checked('withdraw','Applicant's sentencing hearing is too soon')
			},
		]
	}) }}




	<div class="govuk-button-group">
		<button type="submit" class="govuk-button" data-module="govuk-button">
			Save and continue
		  </button>
	</form>
		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}
