{% extends "layouts/main.html" %}

{% set title = 'Why did you not make an application?' %}

{% block questions %}
	{{ govukRadios({
		idPrefix: 'reason',
		name: 'reason',
		fieldset: {
			legend: {
				html: title,
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Applicant arrived too late',
				value: 'Applicant arrived too late',
				checked: checked('reason','Applicant arrived too late')
			},
			{
				html: 'Applicant was ineligible or too high risk',
				value: 'Applicant was unsuitable',
				checked: checked('reason','Applicant was unsuitable')
			},
			{
				html: 'No suitable beds',
				value: 'No suitable beds',
				checked: checked('reason','No suitable beds')
			},
			{
				html: 'Workload, you did not have time',
				value: 'Workload, you did not have time',
				checked: checked('reason','Workload, you did not have time')
			},
			{
				divider: 'or'
			},
			{
				html: 'Other',
				value: 'Other',
				checked: checked('reason','Other')
			}
		]
	}) }}
{% endblock %}




