{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Enter details of their learning difficulties and neurodiversity needs</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="liaison">Liaison and Diversion assessment</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="health-answers" aria-current="Health answers">Provide health needs information</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="communication" aria-current="mental-health">Communication and language</a>
				</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="learning" aria-current="mental-health">Learning difficulties and neurodiversity</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="brain" aria-current="mental-health">Brain injury</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="physical" aria-current="mental-health">Physical and mobility</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="substance" aria-current="mental-health">Substance misuse</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="mental-health" aria-current="mental-health">Mental health</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="other" aria-current="mental-health">Other health needs</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		<form action="brain">
		
			<div class="govuk-form-group">

				  <label class="govuk-label govuk-label--m" for="more-detail">
					What is the need and its severity?
				  </label>
			
				<div id="more-detail-hint" class="govuk-hint">
					For example, conditions such as autism, ADHD, or any learning difficulties that make it hard for applicants to understand or remember information, read or write, or interact with others.
				</div>
				<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
			  </div>

			  <div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
		
					Have they been formally diagnosed?
				
				  </legend>
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
					  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
					Yes
					  </label>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
					  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
						No, they have not been diagnosed
					  </label>
					</div>
			
				
					<div class="govuk-radios__divider">or</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
					  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
						No, they are awaiting a diagnosis
					  </label>
					</div>
				  </div>
				</fieldset>
			  </div>

			  <div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				
					Are they currently receiving treatment and medication?
				
				  </legend>
				
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
					  <label class="govuk-label govuk-radios__label" for="contact">
						Yes
					  </label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset">
							  <legend class="govuk-fieldset__legend">
								Do they have their medication?
							  </legend>
							  <div class="govuk-radios" data-module="govuk-radios">
								<div class="govuk-radios__item">
								  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
								  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
									Yes
								  </label>
								</div>
								<div class="govuk-radios__item">
								  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
								  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
									No
								  </label>
								</div>
							
							
							  </div>
							</fieldset>
						  </div>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
					  <label class="govuk-label govuk-radios__label" for="contact-2">
						No
					  </label>
					</div>
					
			
				</fieldset>
			  </div>

			  <div class="govuk-form-group">

				<label class="govuk-label govuk-label--m" for="more-detail">
					What support do they need?
				</label>
		  
			  <div id="more-detail-hint" class="govuk-hint">
				Include any support they have already or will need.  
			  </div>
			  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
			</div>


			<div class="govuk-form-group">

				<label class="govuk-label govuk-label--m" for="more-detail">
					Who might be impacted by this?
				</label>
		  
			  <div id="more-detail-hint" class="govuk-hint">
				Enter any information about those who might be at risk, such as children, any known victim or the general public.
			  </div>
			  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
			</div>

			<div class="govuk-form-group">

				<label class="govuk-label govuk-label--m" for="more-detail">
					How are they currently presenting?
				</label>
			  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
			</div>



			
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="#">Save and exit</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
