{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item">
				<a href="liaison">Liaison and Diversion assessment</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="health-answers" aria-current="Health answers">Provide health needs information</a>
			  </li>
			  <li class="moj-side-navigation__item">
				<a href="substance-details" aria-current="mental-health">Substance use</a>
			  </li>
			  <li class="moj-side-navigation__item">
				<a href="physical-details" aria-current="mental-health">Physical and mobility</a>
			  </li>
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="mental-health" aria-current="mental-health">Mental health</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="communication-details" aria-current="mental-health">Communication and language</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="learning-details" aria-current="mental-health">Learning difficulties and neurodiversity</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="brain" aria-current="mental-health">Brain injury</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="other" aria-current="mental-health">Other health needs</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Mental health needs details for Jane Smith</h1>
		<form action="communication-details">
		
		
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					Do they have any mental health needs?
				  </legend>
				 
				  <div class="govuk-radios" data-module="govuk-radios">
				
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="issues" name="issues" type="radio" value="email" data-aria-controls="conditional-issues">
						<label class="govuk-label govuk-radios__label" for="issues">
							Yes
						</label>
					  </div>
					  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-issues">
						<div class="govuk-form-group">
						  <label class="govuk-label govuk-label--s" for="contact-by-email">
							Enter details of their needs, including if they have a formal diagnosis
						  </label>
						 
						  <textarea class="govuk-textarea" id="more-detail" name="needs-mh" rows="5" aria-describedby="more-detail-hint"></textarea>
						</div>
					  </div>
					  <div class="govuk-radios__item">
						<input class="govuk-radios__input" id="issues-1" name="issues" type="radio" value="no">
						<label class="govuk-label govuk-radios__label" for="issues-1">
						 No
						</label>
					  </div>

				  
				  </div>
				  </div>
		






				  <div class="govuk-form-group">
					<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						Do they need any support as a result of this?
					
					  </legend>
					
					  <div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="substitute" name="substitute" type="radio" value="email" data-aria-controls="conditional-substitute">
						  <label class="govuk-label govuk-radios__label" for="substitute">
							Yes
						  </label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-substitute">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="contact-by-email">
									Enter details of the type of support, including any support they have already or will need
								</label>
						  
								<textarea class="govuk-textarea" id="more-detail" name="support-mh" rows="5" aria-describedby="more-detail-hint"></textarea>
							  </div>
						</div>
						<div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="substitute-2" name="substitute" type="radio" value="no">
						  <label class="govuk-label govuk-radios__label" for="substitute-2">
							No
						  </label>
						</div>
						
				
					</fieldset>
				  </div>
			
				

			  <div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				
					Do they receive any treatment for this?
				
				  </legend>
				
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="engaged" name="engaged" type="radio" value="yes" data-aria-controls="conditional-engaged">
					  <label class="govuk-label govuk-radios__label" for="engaged">
						Yes
					  </label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-engaged">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-label--s" for="more-detail">
								Enter details about their treatment
							</label>
							<div class="govuk-hint">Include if they have their medication and if they can manage it in the community.</div>
							<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
						  </div>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="engaged-2" name="engaged" type="radio" value="awaiting">
					  <label class="govuk-label govuk-radios__label" for="engaged-2">
						No
					  </label>
					</div>
				
					  
			
				</fieldset>
			  </div>



			  
			  <div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				
					Are they engaged with a mental health service? 
				
				  </legend>


				<div class="govuk-hint">This includes mental health services in custody or the community.</div>
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="engaged" name="engaged" type="radio" value="yes" data-aria-controls="conditional-engaged">
					  <label class="govuk-label govuk-radios__label" for="engaged">
						Yes
					  </label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-engaged">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-label--s" for="more-detail">
								Enter details about the mental health service
							</label>
							<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
						  </div>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="engaged-2" name="engaged" type="radio" value="awaiting">
					  <label class="govuk-label govuk-radios__label" for="engaged-2">
						They are awaiting assessment with a mental health service
					  </label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="engaged-2" name="engaged" type="radio" value="no">
						<label class="govuk-label govuk-radios__label" for="engaged-2">
						  No
						</label>
					  </div>
					  
			
				</fieldset>
			  </div>

			  <div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				
					Are they engaged with a mental health service? 
				
				  </legend>
				<div class="govuk-hint">This includes mental health services in custody or the community.</div>
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="service" name="service" type="radio" value="yes" data-aria-controls="conditional-service">
					  <label class="govuk-label govuk-radios__label" for="service">
						Yes
					  </label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-engaged">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-label--s" for="more-detail">
								Enter details about the mental health service
							</label>
							<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
						  </div>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="service-2" name="service" type="radio" value="awaiting">
					  <label class="govuk-label govuk-radios__label" for="service-2">
						They are awaiting assessment with a mental health service
					  </label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="service-3" name="service" type="radio" value="no">
						<label class="govuk-label govuk-radios__label" for="service-3">
						  No
						</label>
					  </div>
					  
			
				</fieldset>
			  </div>


			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					Will a referral be made for support in the community when they are released?
				  </legend>
				  <div class="govuk-hint">This refers to when they would be released into the community.</div>
				  <div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="community" name="community" type="radio" value="yes">
					  <label class="govuk-label govuk-radios__label" for="community">
						Yes
					  </label>
					</div>
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="community-2" name="stairs" type="radio" value="no">
					  <label class="govuk-label govuk-radios__label" for="stairs-2">
						No
					  </label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="community-2" name="community" type="radio" value="no">
						<label class="govuk-label govuk-radios__label" for="community-2">
							No, the applicant is not in prison custody
						</label>
					  </div>
				
				  </div>
				</fieldset>
			  </div>
			  <div class="govuk-form-group">

				<label class="govuk-label govuk-label--m" for="more-detail">
					How are they currently presenting? (optional)
				</label>
				<div class="govuk-hint">For example, how they appeared when you last spoke to them.</div>
			  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
			</div>

	


			
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<p><a class="govuk-link" href="task-list-offence">Exit without saving</a></p>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
