{% extends "layouts/main.html" %}


{% block content %}
<section class="key-details-bar" aria-label="Key details">
    <div class="key-details-bar__key-details">
  <div class="key-details-bar__top-block">
	<span class="govuk-visually-hidden">Application number:</span>
	<span class=" govuk-caption-l">CS-13115</span>
	<span class="govuk-visually-hidden">Application for:</span>
    <h1 class="govuk-heading-l">Jack Jones</h1>
	<ul class="govuk-list"style="position:absolute; right:500px;">
		<li>Referrer name: Josh Clements</li>
		<li>Email: jc@hmpliverpool.gov.uk</li>
		<li>Contact number: 0151 123 4567</li>
	</ul>
	
  </div>
  <div class="key-details-bar__bottom-block govuk-!-padding-top-0">
	<ul class="govuk-list">
		<li>Prison number: 1953702</li>
		<li>Institution: HMP Liverpool</li>
		<li><strong>Application status:</strong> <span class="govuk-tag govuk-tag--grey" style="color:	#000;">Unassigned</span></li>
	</ul>
	<a class="govuk-button govuk-button--inverse "  href="application-status" style="color:#1D70B8;">Change application status</a>
    
  </div>
    </div>
  </section>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		


<h2 class="govuk-heading-l govuk-!-margin-top-6">Application overview</h2>
<nav class="moj-sub-navigation" aria-label="Sub navigation">

	<ul class="moj-sub-navigation__list">
	  <li class="moj-sub-navigation__item">
		<a class="moj-sub-navigation__link"  href="task-list-unassigned">Applicant information</a>
	  </li>
  
	  <li class="moj-sub-navigation__item">
		<a class="moj-sub-navigation__link" href="risks">Risks and needs</a>
	  </li>
  
	  <li class="moj-sub-navigation__item">
		<a class="moj-sub-navigation__link" aria-current="page" href="funding">CAS-2 funding and preferences</a>
	  </li>
	  <li class="moj-sub-navigation__item">
		<a class="moj-sub-navigation__link" href="history">Application history</a>
	  </li>
	</ul>
  
  </nav>
  </div>
  </div>
  <div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		
  

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Funding CAS-2 accommodation
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			How will the applicant pay for CAS-2 accommodation and the service charge?
		  </dt>
		  <dd class="govuk-summary-list__value">
			Housing benefit and Universal Credit, Disability Living Allowance or Employment & Support Allowance
		  </dd>
		  
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			National insurance number
		  </dt>
		  <dd class="govuk-summary-list__value">
			Unknown at this time
		  </dd>
		  
		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Is the applicant currently receiving benefits?
			</dt>
			<dd class="govuk-summary-list__value">
			  Yes
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Have they received any benefit sanctions in the last 6 months?
			</dt>
			<dd class="govuk-summary-list__value">
			 No
			</dd>
			
		  </div>
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Is the applicant currently in education or receiving any training?
			</dt>
			<dd class="govuk-summary-list__value">
			 No
			</dd>
			
		  </div>
	
	
	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
		Support worker and family unit information
	  </h2>
	 
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Is the applicant applying for a family unit property?
		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		 
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Does the applicant have a gender preference for their support worker?
		  </dt>
		  <dd class="govuk-summary-list__value">
			No
		  </dd>
		
		</div>
		
		
	  </dl>
	</div>
  </div>

  <div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
	  <h2 class="govuk-summary-card__title">
Area preferences
	  </h2>
	</div>
	<div class="govuk-summary-card__content">
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Preferred area 1
		  </dt>
		  <dd class="govuk-summary-list__value">
			Bolton
		  </dd>
		 
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Preferred area 2
		  </dt>
		  <dd class="govuk-summary-list__value">
			Bury
		  </dd>
		
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Reason for preference
		  </dt>
		  <dd class="govuk-summary-list__value">
			Their immediate family (parents, children, siblings) has lived in the ares for at least five years
		  </dd>
		  </div>
		
	
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Enter any other preference information
			</dt>
			<dd class="govuk-summary-list__value">
				Bolton and Bury requested due to family ties.
			</dd>
		   
		  </div>
		
		  
	  </dl>
	</div>
  </div>




  </div>
  
  
		</div>
</div>
{% endblock %}
