
//Colours
$mappa-colour: #4c2c92;
$tier-colour: #28a197;

// RISK TAGS (e.g. RoSH, RSR, OGRS)
.risk-tag {
    background-color: white;
    border: 2px solid #0b0c0c;
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25;
    display: inline-block;
    // max-width: 160px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    text-decoration: none;
    overflow-wrap: break-word;
}
.risk-tag-s {
    font-size: 0.875rem;
    line-height: 1.1428571429;
    margin-right: 2px;
}
.risk-tag--rating {
    text-transform: uppercase;
}
@media (min-width: 640px) {
    .risk-tag {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
    .risk-tag-s {
        font-size: 1rem;
        line-height: 1.25;
    }
}
.risk-tag--low {
    border-color: #85994b;
    color: #485b10;
}
.risk-tag--medium {
    border-color: #f47738;
    color: #a34e00;
}
.risk-tag--high {
    border-color: #d4351c;
    color: #942514;
}
.risk-tag--very-high {
    border-color: #942514;
    color: #711a0d;
}
.risk-tag--no {
    border-color: #525a5f;
    color: #525a5f;
}
.risk-tag--mappa {
    border-color: $mappa-colour;
    color: $mappa-colour;
}
.risk-tag--tier {
    border-color: $tier-colour;
    color: $tier-colour;
}

// RoSH Widget

$low-score-colour: #485b10;
$low-score-border-colour: #85994b;
$medium-score-colour: #a34e00;
$medium-score-border-colour: #f47738;
$high-score-colour: #942514;
$high-score-border-colour: #d4351c;
$very-high-score-colour: #711a0d;
$very-high-score-border-colour: #942514;
$unknown-score-border-colour: #fd0;

.rosh-widget h3 span {
  background-color: #F9E8BD;
  color: #0B0C0C;
  font-weight: 800;
  padding: 4px 6px;
}
.rosh-widget--low h3 span {
    background-color: #DEE9BD;
}
.rosh-widget--medium h3 span {
    background-color: #F9E8BD;
}

.rosh-widget--high h3 span {
    background-color: #F6D7D2;
}
.rosh-widget--vvery-high h3 span {
    background-color: #FFAC9F;
}

.rosh-widget {
  border: 2px solid govuk-colour('black');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  & h3 {
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}

.rosh-widget--unknown {
  border: 2px solid $unknown-score-border-colour;
}

.rosh-widget--low {
  border: 2px solid $low-score-border-colour;

  & h3 {
    color: $low-score-colour;
  }
}

.rosh-widget--medium {
  border: 2px solid $medium-score-border-colour;

  & h3 {
    color: $medium-score-colour;
  }
}

.rosh-widget--high {
  border: 2px solid $high-score-border-colour;

  & h3 {
    color: $high-score-colour;
  }
}

.rosh-widget--very-high {
  border: 2px solid $very-high-score-border-colour;

  & h3 {
    color: $very-high-score-colour;
  }
}

.rosh-widget__table {
  text-align: left;
  margin: 0;

  & tbody {
    & th {
      font-weight: 400;
    }

    & td {
      font-weight: bold;
    }
  }
}

.rosh-widget__risk--low {
  color: $low-score-colour;
}

.rosh-widget__risk--medium {
  color: $medium-score-colour;
}

.rosh-widget__risk--high {
  color: $high-score-colour;
}

.rosh-widget__risk--very-high {
  color: $very-high-score-colour;
}

// MAPPA


.mappa-widget {
  border: 2px solid $mappa-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  & h3 {
    color: $mappa-colour;
    margin-bottom: govuk-spacing(1);
    font-weight: 400;
  }
}


// RISK FLAGS

$risk-flag-colour: #ebf7ff;
$risk-flag-border-colour: #93afc3;

.risk-flag-widget {
  border: 2px solid $risk-flag-border-colour;
  background-color: $risk-flag-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
}

// TIER

.tier-widget {
    color: $tier-colour;
    border: 2px solid $tier-colour;
    padding: 15px;
    margin-bottom: 20px
}

.tier-widget h2 {
    color: $tier-colour;
    margin-bottom: 0;
    font-weight: 400
}

.tier-widget :last-child {
    margin-bottom: 0
}