{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Provide information about the applicant’s health needs</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="liaison">Liaison and Diversion assessment</a>
			  </li>
	  
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="health-answers" aria-current="Health answers">Providing health needs information</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="communication" aria-current="mental-health">Communication and language</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="learning" aria-current="mental-health">Learning difficulties and neurodiversity</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="brain" aria-current="mental-health">Brain injury</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="physical" aria-current="mental-health">Physical and mobility</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="substance" aria-current="mental-health">Substance misuse</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="mental-health" aria-current="mental-health">Mental health</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="other" aria-current="mental-health">Other health needs</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		
		<p class="govuk-body">We will now ask you to provide information about any health needs that affect the applicant.</p>
		<div class="govuk-inset-text blue-border">
			<h2 class="govuk-heading-s">
			  Important
			</h2>
		  
	  
			<p class="govuk-body">
				Any missing or incomplete information on health needs will: 

			</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>cause delays in processing the application </li>
				<li>impact the applicant’s quality of life while in shared accommodation.</li>
			</ul>
			<details class="govuk-details">
				<summary class="govuk-details__summary">
				  <span class="govuk-details__summary-text">
					Where to find information about the applicant’s health needs
				  </span>
				</summary>
				<div class="govuk-details__text">
					You might use any of the methods below, along with asking the applicant. 

					<h2 class="govuk-heading-s">Check other systems</h2>
					<p class="govuk-body">
						You might find some of this information in the:
		
					</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>Common Platform </li>
						<li>national probation database (nDelius)</li>
						<li>Police National Computer (PNC)</li>
						<li>Prison National Offender Management Information System (p-NOMIS)</li>
						<li>Prisoner Escort Record (PER) form</li>
						
					</ul>

					<h2 class="govuk-heading-s">Get in touch with other services</h2>
					<p class="govuk-body">
						You can speak to the following people:
		
					</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>healthcare team </li>
						<li>substance/drugs team</li>
						<li>substance misuse agency</li>
						<li>mental health team</li>
						<li>adult social care</li>
						<li>Nelson trust</li>
					
				</div>
			  </details>

		</div>

		<div class="govuk-button-group govuk-!-margin-top-6">
			<a class="govuk-button" href="communciation">Save and continue</a>
			<p><a class="govuk-link" href="task-list-offence">Save and exit</a></p>
		  </div>
		
	  </div>
  </div>
</div>
{% endblock %}
