{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Physical and mobility needs</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="liaison">Liaison and Diversion assessment</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="health-answers" aria-current="Health answers">Providing health needs information</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="communication" aria-current="mental-health">Communication and language</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="learning" aria-current="mental-health">Learning difficulties and neurodiversity</a>
				  </li>
				  <li class="moj-side-navigation__item ">
					<a href="brain" aria-current="mental-health">Brain injury</a>
				  </li>
				  <li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="physical" aria-current="mental-health">Physical and mobility</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="substance" aria-current="mental-health">Substance misuse</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="mental-health" aria-current="mental-health">Mental health</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="other" aria-current="mental-health">Other health needs</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		<form action="physical-details">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						Does the applicant have any physical and mobility needs?
					</h2>
				  </legend>
				  <p class="govuk-hint">This includes needing a mobility scooter, stair lift, wet room, grip rails in the shower or bath, or wider door frames and ramps.</p>
				
				  <div class="govuk-radios" data-module="govuk-radios">
					
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
					  <label class="govuk-label govuk-radios__label" for="contact-2">
					Yes
					  </label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
						<label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
						  No
						</label>
					  </div>
					  
				
				  </div>
				</fieldset>
			  </div>
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="#">Save and exit</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
