{% extends "layouts/main.html" %}
{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/autocomplete.js"></script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Add applicant's current offence details</h1>
		
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		<nav class="moj-side-navigation" aria-label="Side navigation">
		  <ul class="moj-side-navigation__list">
			<li class="moj-side-navigation__item ">
			  <a href="secondary-offence">Add alleged offences</a>
			</li>
	
			<li class="moj-side-navigation__item moj-side-navigation__item--active">
			  <a href="community-supervision" aria-current="mental-health">Community supervision and current offences</a>
			</li>
			<li class="moj-side-navigation__item">
				<a href="add-prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
			  </li>
	
		   
		  </ul>
		</nav>
	
	  </div>


	<div class="govuk-grid-column-two-thirds">
		<form action="current-offence">
		<div class="govuk-form-group">
		
			<div class="govuk-inset-text">
				This refers to the offence(s) for which the applicant is currently serving a sentence under probation conditions.
			  </div>
						
						<div class="govuk-form-group">
						
							  <label class="govuk-label govuk-label--m" for="offence">
								Enter current offence
							  </label>
							  <div id="passport-issued-hint" class="govuk-hint">
								For example, possession of class A drugs.
							  </div>
							<select class="govuk-select" id="offence" name="offence"
							  data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
							  <option value="" selected disabled>Select an option</option>
							  <option value="Austria">Possession of a Class A drug (09011)</option>
							  <option value="Belgium">Possession of a Class B drug (09012)</option>
							  <option value="Bulgaria">Possession of a Class C drug (14944)</option>
							  <option value="Croatia">Possession of a controlled substance (12843)</option>
							  <option value="Croatia">Possession of a firearm (14843)</option>
							  <option value="Republic of Cyprus">Possession of an offensive weapon (04259)</option>
							  <option value="Czech Republic">Possession of a Class A or B drug with intent to supply (01119)</option>
					
							</select>
						  </div>
							   
					
		
							  <div class="govuk-form-group">
								<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									When did they commit the offence?
								  </legend>
								  <div id="passport-issued-hint" class="govuk-hint">
									For example, 27 3 2023
								  </div>
								  <div class="govuk-date-input" id="passport-issued">
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
										  Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
									  </div>
									</div>
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
										  Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
									  </div>
									</div>
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
										  Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
									  </div>
									</div>
								  </div>
								</fieldset>
							  </div>
		
							  <div class="govuk-form-group">
								<label class="govuk-label  govuk-label--m" for="event-name">
								  How long were they sentenced for?
								</label>
								<div id="event-name-hint" class="govuk-hint">
									For example, 6 months
								  </div>
								<input class="govuk-input" id="event-name" name="sentence1" type="text">
							  </div>
		
							  <div class="govuk-form-group">
								<label class="govuk-label govuk-label--m" for="more-detail">
									Enter details of the offence
								</label>
								<div id="event-name-hint" class="govuk-hint">
									Include:
									<ul class="govuk-list govuk-list--bullet govuk-hint">
										<li>area where it happened</li>
										<li>any damage or injuries caused</li>
										<li>weapons type</li>
										<li>motivation for the offence</li>
										<li>anyone involved, for example a victim or a fellow offender</li>
		
									</ul>
								  </div>
								<textarea class="govuk-textarea" id="more-detail" name="current-offence" rows="5"></textarea>
							  </div>

							  <div class="govuk-form-group">
								<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							
									Are there any outstanding charges committed prior to the current sentence?
									
								  </legend>
								  
								  <div class="govuk-radios" data-module="govuk-radios">
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
									  <label class="govuk-label govuk-radios__label" for="contact">
									Yes
									  </label>
									</div>
									<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-label--s" for="more-detail">
												Enter details of any outstanding charges
											</label>
											<div id="event-name-hint" class="govuk-hint">
												Include details of where the applicant's behaviour could be a risk to:
												<ul class="govuk-list govuk-list--bullet govuk-hint">
													<li>the applicant themselves</li>
													<li>other people staying at the property</li>
													<li>staff members</li>
													<li>neighbours</li>
													<li>visitors</li>
													<li>contractors</li>
													<li>the property (for example, arson)</li>
					
												</ul>
											  </div>
											<textarea class="govuk-textarea" id="more-detail" name="outstanding" rows="5"></textarea>
										  </div>
									</div>
								
									
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text">
									  <label class="govuk-label govuk-radios__label" for="contact-3">
										No
									  </label>
									</div>
									
								  </div>
								</fieldset>
							  </div>
					  <div class="govuk-button-group govuk-!-margin-top-6">
						<button type="submit" class="govuk-button" data-module="govuk-button">
						 Save and continue
						</button>
						<p><a class="govuk-link" href="dashboard">Save and exit</a></p>
					  </div>
				</form>
		

  </div>
</div>
{% endblock %}
