{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Applicant's previous conviction details</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="secondary-offence">Add alleged offences</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="current-offence" aria-current="mental-health">Community supervision and current offences</a>
			  </li>
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				  <a href="add-prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
				</li>
	  
			 
			</ul>
		  </nav>
	  </div>


	<div class="govuk-grid-column-two-thirds">
		<form action="task-list-offence">
		<div class="govuk-form-group">
			
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">
		Weapons or firearms
				  </h2>
				  <ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
					  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> previous conviction</span></a>
					</li></ul>
				</div>
				<div class="govuk-summary-card__content">
				  <dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
					  <dt class="govuk-summary-list__key">
						Number of offences
					  </dt>
					  <dd class="govuk-summary-list__value">
						1
					  </dd>
					
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
					  Sentence type
						</dt>
						<dd class="govuk-summary-list__value">
						 Custodial
						
					  </div>
					<div class="govuk-summary-list__row">
					  <dt class="govuk-summary-list__key">
					Offence details
					  </dt>
					  <dd class="govuk-summary-list__value">
						Possession of a baseball bat in property with evidence to suggest use for intimidation and protection as part of removal from gang affiliation 
					  </dd>
					  
					</div>
				
					  

				  </dl>
				</div>
			  </div>
			
			
	
			 <a class="govuk-button govuk-button--secondary"href="#">Add another previous conviction</a></p>


			<div class="govuk-button-group govuk-!-margin-top-8">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="#">Save and exit</a>
			  </div>
		  </div>
		</form>

  </div>
</div>
{% endblock %}
