{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
	<h1 class="govuk-heading-l">Confirm applicant's details</h1>
	<dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Full name
		  </dt>
		  <dd class="govuk-summary-list__value">
			Jane Smith
		  </dd>
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Date of birth
		  </dt>
		  <dd class="govuk-summary-list__value">
			24 June 1979
		  </dd>
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Nationality
		  </dt>
		  <dd class="govuk-summary-list__value">
			British
		  </dd>
		</div>
		<div class="govuk-summary-list__row">
		  <dt class="govuk-summary-list__key">
			Sex
		  </dt>
		  <dd class="govuk-summary-list__value">
			Female
		  </dd>
		</div>
	
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				CRN from nDelius
			</dt>
			<dd class="govuk-summary-list__value">
				X698226
			</dd>
		  </div>
	
		  <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
			 Status
			</dt>
			<dd class="govuk-summary-list__value">
			 <span class="govuk-tag govuk-tag--purple">In court</span></dd>
		  </div>
	  </dl>

	  <details class="govuk-details">
		<summary class="govuk-details__summary">
		  <span class="govuk-details__summary-text">
			If these details are not correct
		  </span>
		</summary>
		<div class="govuk-details__text">
		  <ul class="govuk-list govuk-list--bullet">
			<li>check that the CRN or prison number matches the applicant’s name</li>
			<li>update the nDelius or pNomis record with the correct details to continue with this application</li>
		  </ul>
		</div>
	  </details>
	  <div class="govuk-button-group govuk-!-margin-top-6">
	  <a class="govuk-button govuk-!-margin-top-6" href="consent">Confirm and continue</a>
	  <p class="govuk-link"><a href="ndelius">Search for a different applicant</a> </p> 
	</div>
  </div>
</div>
{% endblock %}
