{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Community supervision details</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="secondary-offence">Add alleged offences</a>
			  </li>
	  
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="community-supervision" aria-current="mental-health">Community supervision and current offences</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
				</li>
	  
			 
			</ul>
		  </nav>
	  </div>

	<div class="govuk-grid-column-two-thirds">


<div class="govuk-form-group govuk-!-margin-top-6">
	<fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
	  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
		<h2 class="govuk-fieldset__heading">
			Is the applicant currently supervised by probation?
		</h2>
	  </legend>
	 
	  <div class="govuk-radios" data-module="govuk-radios">
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
		  <label class="govuk-label govuk-radios__label" for="changedName">
			Yes
		  </label>
		</div>
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
		  <label class="govuk-label govuk-radios__label" for="changedName-2">
			No
		  </label>
		</div>
	  </div>
	</fieldset>
  </div>

<div class="govuk-button-group">
	<a href="oasys" class="govuk-button">
	  Save and continue
	</a>
	<p class="govuk-link"><a href="#">Save and exit</a> </p> 
  </div>
  </div>
</div>
{% endblock %}
