{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Recent OASys risk assessment</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="add-primary-offence">Add alleged offences</a>
			  </li>
	  
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="community-supervision" aria-current="mental-health">Community supervision and current offences</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="prev-conviction" aria-current="mental-health">Previous convictions</a>
				</li>
	  
			 
			</ul>
		  </nav>
	  </div>

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
			  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
			
				Has an OASys risk assessment been done in the last two years?
			
			  </legend>
			
			  <div class="govuk-radios" data-module="govuk-radios">
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
				  <label class="govuk-label govuk-radios__label" for="contact">
					Yes
				  </label>
				</div>
				<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
						  <legend class="govuk-fieldset__legend">
							Has OASys been updated by a Prison Offender Manager (POM) since the alleged offence took place?
						  </legend>
						  <div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
							  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
							  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
								Yes
							  </label>
							</div>
							<div class="govuk-radios__item">
							  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
							  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
								No
							  </label>
							</div>
						
						
						  </div>
						</fieldset>
					  </div>
				</div>
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
				  <label class="govuk-label govuk-radios__label" for="contact-2">
					No
				  </label>
				</div>
				
		
			</fieldset>
		  </div>

<div class="govuk-button-group">
	<a href="probation" class="govuk-button">
	  Save and continue
	</a>
	<p class="govuk-link"><a href="#">Save and exit</a> </p> 
  </div>
  </div>
</div>
{% endblock %}
