{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="sexual-orientation">
			<span class="govuk-caption-xl">Applicant details</span>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				  <h1 class="govuk-fieldset__heading">
					Add the solicitor’s details
				  </h1>
				</legend>
				<div class="govuk-form-group">
				  <label class="govuk-label" for="address-line-1">
					Full name
				  </label>
				  <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
				</div>
				<div class="govuk-form-group">
				  <label class="govuk-label" for="address-line-2">
					Email address
				  </label>
				  <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="address-town">
					  Contact number
					</label>
					<input class="govuk-input govuk-input--width-20" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
				  </div>
				<div class="govuk-form-group">
				  <label class="govuk-label" for="address-town">
					Legal firm name
				  </label>
				  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
				</div>
				<div class="govuk-form-group">
				  <label class="govuk-label" for="address-county">
					Legal firm address
				  </label>
				  <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
				</div>
				
			  </fieldset>

			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="#">Save and exit</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
