{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item">
				<a href="risk-answers">Add information about risks</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="self-harm-details" aria-current="Health answers">Self-harm and suicide</a>
			  </li>
			  <li class="moj-side-navigation__item">
				<a href="acct" aria-current="Health answers">ACCT notes</a>
			  </li>
				<li class="moj-side-navigation__item">
					<a href="violence-details" aria-current="mental-health">Violence and arson</a>
				  </li>
				
				  <li class="moj-side-navigation__item">
					<a href="shared-living" aria-current="mental-health">Living in the community</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="staff" aria-current="mental-health">Safety of staff</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="additional" aria-current="mental-health">Additional concerns</a>
				  </li>
				  <li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		<form action="../task-list-risks">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					Where did you get the information on concerns about Jane Smith from?
			
				  </legend>
				  
				  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
			  
					  <div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
						  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
							  In person interview with applicant
						  </label>
						</div>
						<div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
						  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
							Prison National Offender Management Information System (p-NOMIS)
						  </label>
						</div>
						<div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
						  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
							Healthcare teams
						  </label>
						</div>
						<div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
						  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
							  Case work
						  </label>
						</div>
						<div class="govuk-checkboxes__item">
						  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
						  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
							National probation database (nDelius)
						  </label>
						</div>
					<div class="govuk-checkboxes__item">
					  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
					  <label class="govuk-label govuk-checkboxes__label" for="contact">
						Other
					  </label>
					</div>
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
					  <div class="govuk-form-group">
						<label class="govuk-label" for="contact-by-email">
						Enter other sources (optional)
						</label>
						<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
						</div>
					  </div>
				
					
				  
				  </div>
				</fieldset>
			  </div>
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="task-list-risks">Exit without saving</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
