{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Add information about risks to the applicant and others</h1>
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="risk-answers">Add information about risks</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="self-harm" aria-current="Health answers">Self-harm and suicide</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="gangs" aria-current="mental-health">Gang affiliation</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="violence" aria-current="mental-health">Violence and arson</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="attitudes" aria-current="mental-health">Hate-related attitudes</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="shared-living" aria-current="mental-health">Living with others</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>



	<div class="govuk-grid-column-two-thirds">
		
		<p class="govuk-body">We will now ask you to provide contextual information about risks to the applicant and others.</p>
	

		<div class="nhsuk-do-dont-list" style="background-color: 	#f3f2f1;">
			<h3 class="nhsuk-do-dont-list__label" style="background-color: 	#1d70b8;">You are expected to:</h3>
			<ul class="nhsuk-list nhsuk-list--tick" role="list">
			  <li>
				<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
				  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
				</svg>
				use information from other systems you have access to
			  </li>
			  <li>
				<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
				  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
				</svg>
				identify risk factors in support of information about the applicant’s current and historic circumstances 
			  </li>
			
			</ul>
		  </div>
		  
		  <div class="nhsuk-do-dont-list" style="background-color: 	#f3f2f1;">
			<h3 class="nhsuk-do-dont-list__label" style="background-color: 	#1d70b8;">Be reassured that:</h3>
			<ul class="nhsuk-list nhsuk-list--cross" role="list">
			  <li>
				<svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
				  <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
				  <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
				</svg>
				you are not expected to assess risks
			  </li>
			  <li>
				<svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
				  <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
				  <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
				</svg>
				you are not expected to provide a level or opinion of the risk, unless you are trained to
			 
			</ul>
		  </div>
		  <details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Sources you might use to add information about risk factors
			  </span>
			</summary>
			<div class="govuk-details__text">
				You can use any of the sources below, along with adding any information the applicant discloses to you:

				<ul class="govuk-list govuk-list--bullet">
					<li>Common Platform </li>
					<li>national probation database (nDelius)</li>
					<li>Police National Computer (PNC)</li>
					<li>Prison National Offender Management Information System (p-NOMIS)</li>
					<li>Prisoner Escort Record (PER) form</li>
					
				</ul>

		
				
			</div>
		  </details>

		<div class="govuk-button-group govuk-!-margin-top-6">
			<a class="govuk-button" href="self-harm">Save and continue</a>
			<p><a class="govuk-link" href="task-list-health">Save and exit</a></p>
		  </div>
		
	  </div>
  </div>
</div>
{% endblock %}
