{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
				  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item">
				<a href="risk-answers">Add information about risks</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="self-harm-details" aria-current="Health answers">Self-harm and suicide</a>
			  </li>
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="acct" aria-current="Health answers">ACCT notes</a>
			  </li>
				<li class="moj-side-navigation__item">
					<a href="violence-details" aria-current="mental-health">Violence and arson</a>
				  </li>
				
				  <li class="moj-side-navigation__item">
					<a href="shared-living" aria-current="mental-health">Living in the community</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="staff" aria-current="mental-health">Safety of staff</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="additional" aria-current="mental-health">Additional concerns</a>
				  </li>
				  <li class="moj-side-navigation__item">
					<a href="sources" aria-current="mental-health">Information sources</a>
				  </li>
			 
			</ul>
		  </nav>
	  </div>

	  <div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-l">
	Jane Smith's ACCT notes
	</h1>

	<div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
		  <h2 class="govuk-summary-card__title">
			15 October 2024 - Ongoing
		  </h2>
		  <ul class="govuk-summary-card__actions">
			<li class="govuk-summary-card__action">
			  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">note</span></a>
			</li></ul>
		</div>
		<div class="govuk-summary-card__content">
		  <dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Referring institution
			  </dt>
			  <dd class="govuk-summary-list__value">
			King's
			  </dd>
			
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
			  Details
				</dt>
				<dd class="govuk-summary-list__value">
					Plan details would go here about support in place for Jane whilst in custody
				
			  </div>
		
		
			  

		  </dl>
		</div>
	  </div>
	  <div class="govuk-button-group govuk-!-margin-top-6">
		<a class="govuk-button govuk-button--secondary" href="add-acct">Add an ACCT note</a>
		</div>
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<a class="govuk-button" href="violence-details">Save and continue</a>
				<a class="govuk-link" href="task-list-health">Exit without saving</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
