{% extends "layouts/main.html" %}
{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/autocomplete.js"></script>

{% endblock %}

{% block content %}

				    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/beta/v3/primary-offence" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Add Ben Dormund's current offence details
                </h1>
              </legend>

              <p class="govuk-body">Add one offence at a time. For example, you should record 3 drug-related offences as 3 separate offences.</p>

              <!-- Offence title -->
              {{ govukInput({
                label: {
                  text: "Offence title",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                hint: {
                    text: "For example, 'Stalking'"
                },
                id: "co-offence-title",
                name: "co-offence-title"
              }) }}

			  <!-- Offence type -->
			  <div class="govuk-form-group">
				<label class="govuk-heading-m" for="sort">
					Offence type
				</label>
				<select class="govuk-select" id="sort" name="sort">
          <option value="" selected>Choose type</option>
          <option value="stalking-or-harassment">Stalking or Harassment</option>
          <option value="weapons-or-firearms">Weapons or Firearms</option>
          <option value="arson">Arson</option>
          <option value="violence">Violence</option>
          <option value="domestic-abuse">Domestic abuse</option>
          <option value="hate-crime">Hate crime</option>
          <option value="drugs">Drugs</option>
          <option value="other">Other</option>
				</select>
				</div>

              <!-- Offence date -->
			   <h2 class="govuk-heading-m">When did they commit the offence?</h2>
              {{ govukDateInput({
                id: "co-offence-date",
                value: data['co-offence-date'],
                namePrefix: "co-offence-date",
                fieldset: {
                  
                },
                hint: {
                    text: "For example, 27 3 2007"
                }
              }) }}

              <!------------------------ Sentence length ------------------------>
              {{ govukInput({
                id: "co-sentence-length",
                value: data['co-sentence-length'],
                name: "co-sentence-length",
                classes: "govuk-input--width-10",
                label: {
                  text: "How long were they sentenced for?",
                  classes: "govuk-label--m"
                },
                hint: {
                  text: "For example, 6 months"
                }
              }) }}

              <!-- Offence details -->
              {{ govukTextarea({
                name: "co-offence-summary",
                id: "co-offence-summary",
                label: {
                  text: "Provide a summary of the offence",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                hint: {
                  html: 
                  "<p class='govuk-hint'>Include:</p>
                  <ul class='govuk-list govuk-list--bullet govuk-hint'>
                    <li>where it happened (excluding addresses)</li>
                    <li>when it happened</li>
                    <li>damage or injury caused</li>
                    <li>weapon type</li>
                    <li>motivations for the offence</li>
                    <li>if a violent offence, the relationship to the victim</li>
                    </ul>"
                }
              }) }}

              <!-- Outstanding charges details -->
              {% set outstandingHTML %}
                {{ govukTextarea({
                  name: "co-outstanding-charges-details",
                  id: "co-outstanding-charges-details",
                  label: {
                    text: "Details of any outstanding charges",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
            hint: {
              html: 
              "<p class='govuk-hint'>Include details where the applicant's behaviour could be a risk to:</p>
              <ul class='govuk-list govuk-list--bullet govuk-hint'>
                <li>the applicant themselves</li>
                <li>other people staying at the property</li>
                <li>staff members</li>
                <li>neighbours</li>
                <li>visitors</li>
                <li>contractors</li>
                <li>the property (for example, arson)</li>
                </ul>"
            }
                }) }}
              {% endset -%}
             
			  
           
            </fieldset>

          </div>

		    <div class="govuk-button-group">


            {{ govukButton({
              text: "Save and add another offence",
              classes: "govuk-button--secondary"
            }) }}
            

            {{ govukButton({
              text: "Save and continue"
            }) }}

          </div>

          
				
			

        </form>

    </div>
  </div>
					  
					

{% endblock %}
