{% extends "layouts/main.html" %}


{% block content %}



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="bail-answer" method="post">
			<div class="govuk-form-group">
		
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Do you know when Jane Smith’s bail hearing is?
					</h1>
				  </legend>
				
				  <div class="govuk-radios" data-module="govuk-radios">
					
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="bail" name="bail" type="radio" value="yes" data-aria-controls="conditional-bail">
					  <label class="govuk-label govuk-radios__label" for="bail">
					Yes
					  </label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-bail">
						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
							  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								When is the bail hearing?
							  </legend>
							  <div id="passport-issued-hint" class="govuk-hint">
								For example, 27 3 2025
							  </div>
							  <div class="govuk-date-input" id="passport-issued">
								<div class="govuk-date-input__item">
								  <div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
									  Day
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
								  </div>
								</div>
								<div class="govuk-date-input__item">
								  <div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
									  Month
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
								  </div>
								</div>
								<div class="govuk-date-input__item">
								  <div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
									  Year
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
								  </div>
								</div>
							  </div>
							</fieldset>
						  </div>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="bail-2" name="bail" type="radio" value="no">
						<label class="govuk-label govuk-radios__label" for="bail-2">
						  No
						</label>
					  </div>
				
				
				  </div>
				</fieldset>
			  </div>
			  <div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">
				  Save and continue
				</button>
				<a class="govuk-link" href="task-list-risks">Exit without saving</a>
			  </div>
		</form>

  </div>
</div>
{% endblock %}
