{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form>
			 <h1 class="govuk-heading-l">
    Ben Dormund's licence
  </h1>

 

  <!-- Conditional release date -->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="crd-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        What is Ben Dormund's licence start date?
      </legend>

      <div id="crd-hint" class="govuk-hint">
        For example, 27 3 2023
      </div>

      <div class="govuk-date-input" id="crd-date">

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="crd-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="crd-day" name="crd-day" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="crd-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="crd-month" name="crd-month" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="crd-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                   id="crd-year" name="crd-year" type="text" inputmode="numeric">
          </div>
        </div>

      </div>
    </fieldset>
  </div>

  <!-- Licence end date -->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="hdc-eligibility-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        What is Ben Dormunds's licence end date?
      </legend>

      <div id="hdc-eligibility-hint" class="govuk-hint">
        For example, 27 3 2023
      </div>

      <div class="govuk-date-input" id="hdc-eligibility-date">

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="hdc-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="hdc-day" name="hdc-day" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="hdc-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                   id="hdc-month" name="hdc-month" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="hdc-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                   id="hdc-year" name="hdc-year" type="text" inputmode="numeric">
          </div>
        </div>

      </div>
    </fieldset>
  </div>
  
 {% if data['referralType'] == 'alternative-accommodation' %}


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hdc-expiry-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             Does Ben Dormund have an HDC expiry date?
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hdc-expiry-date" name="hdc-expiry-date" type="radio" value="yes" data-aria-controls="conditional-hdc-expiry-date">
                <label class="govuk-label govuk-radios__label" for="hdc-expiry-date">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hdc-expiry-date">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="hdc-expiry-date-value-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      HDC expiry date
                    </legend>
                    <div id="hdc-expiry-date-value-hint" class="govuk-hint">
                      For example, 27 3 2023
                    </div>
                    <div class="govuk-date-input" id="hdc-expiry-date-value">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="hdc-expiry-date-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hdc-expiry-date-day" name="hdc-expiry-date-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="hdc-expiry-date-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hdc-expiry-date-month" name="hdc-expiry-date-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="hdc-expiry-date-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hdc-expiry-date-year" name="hdc-expiry-date-year" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hdc-expiry-date-2" name="hdc-expiry-date" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="hdc-expiry-date-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
		
				{% endif %}
		

			

			 <div class="govuk-button-group govuk-!-margin-top-6">
				<a class="govuk-button" href="task-list-start.html">Save and continue</a>

			  </div>
			
		</form>

  </div>
</div>
{% endblock %}
