{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-form-group">
			<h1 class="govuk-label-wrapper">
			  <label class="govuk-label govuk-label--l" for="event-name">
				Enter the applicant’s Case Reference Number (CRN)  
			  </label>
			</h1>
			<div id="event-name-hint" class="govuk-hint">
				For example, 12345678. This is the number under which the applicant has been registered in nDelius.
			<input class="govuk-input govuk-!-margin-top-6" id="event-name" name="eventName" type="text">
			<div class="govuk-button-group govuk-!-margin-top-6">
				<a class="govuk-button" href="applicant-found">Search for applicant</a>
				<p><a class="govuk-link" href="dashboard">Exit without saving</a></p>
			  </div>
			
		</div>
	


  </div>
</div>
{% endblock %}
