{% extends "layouts/main.html" %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
        Current offences for Ben Davies
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
        The CAS2 referral team needs an overview of all current offences to assess risk and make sure people are placed safely.
      </p>

      <form action="/{{ version }}/current-offences/add" method="post" class="govuk-!-margin-bottom-7">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a current offence
        </button>
      </form>

      <div class="govuk-summary-card govuk-!-margin-bottom-7">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Weapons</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/current-offences/d/remove">
                Remove<span class="govuk-visually-hidden"> offence d</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Type:</dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  Weapons or<br>Firearms
                </strong>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Offence date:</dt>
              <dd class="govuk-summary-list__value">1 January 2023</dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Sentence length:</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Offence details:</dt>
              <dd class="govuk-summary-list__value">Walked into a shop carrying a knife</dd>
            </div>

           
          </dl>
        </div>
      </div>

      <div class="govuk-button-group">
        <button type="submit" form="save-current-offences" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a class="govuk-link" href="task-list-offence">Back to task list</a>
      </div>

      <form id="save-current-offences" action="task-list-offence" method="post"></form>
    </div>
  </div>

{% endblock %}
