{% extends "layouts/main.html" %}


{% block content %}
      

		  <h1 class="govuk-heading-xl">Apply for CAS2</h1>
		  <p class="govuk-body"><strong>Homeless at End of Fixed-Term Recall</strong></p>

		  <div class="govuk-!-margin-bottom-4">
		    <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">
		      <span class="govuk-!-font-weight-bold">Applicant:</span>
		      Ben Dormund
		    </p>
		    <p class="govuk-body govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">
		      <span class="govuk-!-font-weight-bold">Referrer:</span>
		      Jane Smith
		    </p>
		  </div>

		  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
		    You have completed 2 of 18 tasks.
		  </h2>

		  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-7">

		  <div class="govuk-grid-row">
		    <div class="govuk-grid-column-two-thirds">
		      <h2 class="govuk-heading-m">Before you apply</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="eligibility" aria-describedby="eligibility-status">Confirm eligibility</a>
		          </div>
		          <div class="govuk-task-list__status" id="eligibility-status">Completed</div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="consent" aria-describedby="consent-status">Confirm consent to share information</a>
		          </div>
		          <div class="govuk-task-list__status" id="consent-status">Completed</div>
		        </li>
				<li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="isr-type" aria-describedby="license-status">Type of application</a>
		          </div>
		          <div class="govuk-task-list__status" id="license-status">Completed</div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="license" aria-describedby="license-status">License dates</a>
		          </div>
		          <div class="govuk-task-list__status" id="license-status">Completed</div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="referrer-details" aria-describedby="referrer-details-status">Add referrer details</a>
		          </div>
		          <div class="govuk-task-list__status" id="referrer-details-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		      </ul>

		      <h2 class="govuk-heading-m">About the applicant</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="institution" aria-describedby="institution-status">Add personal details</a>
		          </div>
		          <div class="govuk-task-list__status" id="institution-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="fixed-address" aria-describedby="fixed-address-status">Previous address</a>
		          </div>
		          <div class="govuk-task-list__status" id="fixed-address-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="equality-start" aria-describedby="equality-status">Equality and diversity monitoring</a>
		          </div>
		          <div class="govuk-task-list__status" id="equality-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		      </ul>

		      <h2 class="govuk-heading-m">Area, funding and ID</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="area-preference-1" aria-describedby="area-preference-status">Add exclusion zones and preferred areas</a>
		          </div>
		          <div class="govuk-task-list__status" id="area-preference-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="funding" aria-describedby="funding-status">Confirm funding and ID</a>
		          </div>
		          <div class="govuk-task-list__status" id="funding-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		      </ul>

		      <h2 class="govuk-heading-m">Offence information</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="add-offence.html" aria-describedby="offences-status">Add current offences</a>
		          </div>
		          <div class="govuk-task-list__status" id="offences-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="prev-conviction" aria-describedby="prev-conviction-status">Add unspent convictions</a>
		          </div>
		          <div class="govuk-task-list__status" id="prev-conviction-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		      </ul>

		      <h2 class="govuk-heading-m">Risks and needs</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="health/liaison" aria-describedby="health-status">Health needs</a>
		          </div>
		          <div class="govuk-task-list__status" id="health-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="rosh-import" aria-describedby="rosh-status">Risks of serious harm to others</a>
		          </div>
		          <div class="govuk-task-list__status" id="rosh-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <a class="govuk-link govuk-task-list__link" href="risks/risk-answers" aria-describedby="risks-self-status">Risks to self</a>
		          </div>
		          <div class="govuk-task-list__status" id="risks-self-status"><strong class="govuk-tag govuk-tag--grey">Not started</strong></div>
		        </li>
		      </ul><h2 class="govuk-heading-m">Check answers</h2>
		      <ul class="govuk-task-list">
		        <li class="govuk-task-list__item">
		          <div class="govuk-task-list__name-and-hint">
		            <span class="govuk-task-list__name">Check your answers</span>
		            <div class="govuk-task-list__hint">All questions must be answered first</div>
		          </div>
		          <div class="govuk-task-list__status" id="check-answers-status"><strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong></div>
		        </li>
		      </ul>

			      <a class="govuk-button govuk-button--secondary" href="dashboard">Return to applications dashboard</a>
			    </div>
			  </div>
{% endblock %}
