{% extends "layouts/main.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="isr-type-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="referral-type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             Which type of application do you want to make?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-bail" name="referralType" type="radio" value="bail">
              <label class="govuk-label govuk-radios__label" for="referral-bail">
               Bail
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
         	Applicant is seeking court or prison bail.
       		 </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-homeless-crd" name="referralType" type="radio" value="homeless-crd">
              <label class="govuk-label govuk-radios__label" for="referral-homeless-crd">
                A different type of application
              </label>
			  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
         	Applicant is being released, recalled,or leaving an approved premises with no suitable accommodation.
       		 </div>
            </div>

           

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
    </div>
  </div>

{% endblock %}
