{% extends "layouts/main.html" %}


{% block content %}


  <div class="govuk-width-container">

    <form action="isr-type-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="referral-type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is this a bail application?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-bail" name="referralType" type="radio" value="bail">
              <label class="govuk-label govuk-radios__label" for="referral-bail">
               Yes, Court or Prison Bail
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-homeless-crd" name="referralType" type="radio" value="homeless-crd">
              <label class="govuk-label govuk-radios__label" for="referral-homeless-crd">
                No, another type of application
              </label>
			  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
         	 including Intensive supervision courts, risk of recall and move on from Approved premises
       		 </div>
            </div>

           

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>

{% endblock %}
