{% extends "layouts/main.html" %}

{% set title = 'Details of risk or ineligibility' %}


{% block questions %}
	<div class="status-box govuk-!-margin-bottom-5">
		<p class="govuk-!-display-inline">Current status:
			<strong class="govuk-tag--blue status-box-tag">
				Received
			</strong>
		</p>
	</div>

	{% call govukFieldset({
		legend: {
		html: title,
		classes: 'govuk-fieldset__legend--l',
		isPageHeading: true
		}
	}) %}

		{% set moreSupport %}
			{{ govukTextarea({
				name: 'more-support',
				id: 'more-support',
				value: data['more-support'],
				rows: 2,
				label: {
					html: 'What extra support would have been needed?',
					classes: 'govuk-label--s'
				}
			}) }}
		{% endset -%}
		{{ govukRadios({
			idPrefix: 'ineligibility-permanence',
			name: 'ineligibility-permanence',
			fieldset: {
				legend: {
					html: 'Is ineligibility permanent or circumstantial?',
					classes: 'govuk-fieldset__legend--m'
				}
			},
			items: [
				{
					html: 'Applicant would always be ineligible',
					value: 'Applicant would always be ineligible',
					checked: checked('ineligibility-permanence','Applicant would always be ineligible')
				},
				{
					html: 'Applicant may be eligible if more support was available',
					value: 'Applicant may be eligible if more support was available',
					checked: checked('ineligibility-permanence','Applicant may be eligible if more support was available'),
					conditional: {
						html: moreSupport
					}
				}
			]
		}) }}


		{% set list = ['Sexual offences',
		'Age',
		'High risk of serious harm',
		'Breaching immigration law',
		'No route to public funds'] %}
		{% set options = [] %}
		{% for i in list %}
			{% set options = options | push ({
				'html': i,
				'value': i,
				'checked': checked('ineligibility-unmet',i)
			}) %}
		{% endfor %}
		{{ govukCheckboxes({
			idPrefix: 'ineligibility-unmet',
			name: 'ineligibility-unmet',
			fieldset: {
				legend: {
					html: 'What eligibility criteria is unmet?',
					classes: 'govuk-fieldset__legend--m'
				}
			},
			items: options
		}) }}


		{% set list = ['Acquisitive offending',
		'Arson',
		'Communication needs',
		'Cuckooing',
		'Domestic violence (perpetrator)',
		'Domestic violence (victim)',
		'Driving offences',
		'Drug supply offences',
		'Epilepsy',
		'Exploitation (risk to others)',
		'Exploitation (risk to self)',
		'Financial abuse or fraud',
		'Gang involvement',
		'Hate-related attitudes',
		'Isolation',
		'Learning difficulties / disabilities',
		'Media/public interest',
		'Mental health',
		'Mobility needs',
		'Other ',
		'Other vulnerability',
		'Risk to property / criminal damage',
		'Risk to staff',
		'Self-harm and suicide',
		'Sex work',
		'Substance or alcohol abuse',
		'Violent offences',
		'Weapons'] %}
		{% set options = [] %}
		{% for i in list %}
			{% set options = options | push ({
				'html': i,
				'value': i,
				'checked': checked('unmanagable',i)
			}) %}
		{% endfor %}
		{{ govukCheckboxes({
			idPrefix: 'unmanagable',
			name: 'unmanagable',
			fieldset: {
				legend: {
					html: 'What risk is unmanagable?',
					classes: 'govuk-fieldset__legend--m'
				}
			},
			items: options
		}) }}

		{{ govukTextarea({
			name: 'unmanageable-reason',
			id: 'unmanageable-reason',
			value: data['unmanageable-reason'],
			label: {
				html: 'Why is this risk unmanagable?',
				classes: 'govuk-label--m'
			}
		}) }}

	{% endcall %}
{% endblock %}

{% block buttons %}
	<div class="govuk-button-group">
		{{ govukButton({
			text: 'Save and continue'
		}) }}

		<a class="govuk-link" href="#0">Back to application overview</a>
	</div>
{% endblock %}
