{% extends "layouts/main.html" %}

{% block backLink %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

		<p>You will be able to use the service later.</p>

    	<p>If you were applying, we've saved your answers.</p>

		<p>If it’s an urgent referral, you can <a href="https://justiceuk.sharepoint.com/sites/HMPPSIntranet-Probation/SitePages/Community-Accommodation-Service.aspx" class="govuk-link govuk-link--no-visited-state">complete a paper referral form</a>.</p>

	</div>
</div>
{% endblock %}
