{% extends "layouts/main.html" %}
{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/autocomplete.js"></script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Add applicant's alleged offences</h1>
		
		</div>
		</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		<nav class="moj-side-navigation" aria-label="Side navigation">
		  <ul class="moj-side-navigation__list">
			<li class="moj-side-navigation__item moj-side-navigation__item--active ">
			  <a href="add-primary-offence">Add alleged offences</a>
			</li>
	
			<li class="moj-side-navigation__item">
			  <a href="community-supervision" aria-current="mental-health">Community supervision and current offences</a>
			</li>
			<li class="moj-side-navigation__item">
				<a href="add-prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
			  </li>
	
		   
		  </ul>
		</nav>
	
	  </div>


	<div class="govuk-grid-column-two-thirds">
		<form action="secondary-offence">
		<div class="govuk-form-group">
		
		
			<div class="govuk-grid-column-two-thirds">
				<form action="offence-updated-sec">
					
					
				
						
						<div class="govuk-form-group">
						
							  <label class="govuk-label govuk-label--m" for="offence">
								Enter alleged offence
							  </label>
							  <div id="passport-issued-hint" class="govuk-hint">
								For example, possession of class A drugs.
							  </div>
							<select class="govuk-select" id="offence" name="offence"
							  data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
							  <option value="" selected disabled>Select an option</option>
							  <option value="Austria">Possession of a Class A drug (09011)</option>
							  <option value="Belgium">Possession of a Class B drug (09012)</option>
							  <option value="Bulgaria">Possession of a Class C drug (14944)</option>
							  <option value="Croatia">Possession of a firearm (14843)</option>
							  <option value="Republic of Cyprus">Possession of an offensive weapon (04259)</option>
							  <option value="Czech Republic">Possession of a Class A or B drug with intent to supply (01119)</option>
					
							</select>
						  </div>
							   
					
		
							  <div class="govuk-form-group">
								<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									When did they commit the offence?
								  </legend>
								  <div id="passport-issued-hint" class="govuk-hint">
									For example, 27 3 2024
								  </div>
								  <div class="govuk-date-input" id="passport-issued">
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
										  Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
									  </div>
									</div>
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
										  Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
									  </div>
									</div>
									<div class="govuk-date-input__item">
									  <div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
										  Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
									  </div>
									</div>
								  </div>
								</fieldset>
							  </div>
		
						
		
							  <div class="govuk-form-group">
								<label class="govuk-label govuk-label--m" for="more-detail">
									Enter details of the offence
								</label>
								<div id="event-name-hint" class="govuk-hint">
									Include:
									<ul class="govuk-list govuk-list--bullet govuk-hint">
										<li>area where it happened</li>
										<li>any damage or injuries caused</li>
										<li>weapons type</li>
										<li>motivation for the offence</li>
										<li>anyone involved, for example a victim or a fellow offender</li>
		
									</ul>
								  </div>
								<textarea class="govuk-textarea" id="more-detail" name="secondary-offence" rows="5"></textarea>
							  </div>
					  <div class="govuk-button-group govuk-!-margin-top-6">
						<button type="submit" class="govuk-button" data-module="govuk-button">
						 Save and continue
						</button>
						<p><a class="govuk-link" href="dashboard">Save and exit</a></p>
					  </div>
				</form>
		

  </div>
</div>
{% endblock %}
