{% extends "layouts/main.html" %}
{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/autocomplete.js"></script>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="add-alleged-offence">Current alleged offences</a>
			  </li>
	  
			  <li class="moj-side-navigation__item">
				<a href="community-supervision" aria-current="mental-health">Probation supervision</a>
			  </li>
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				  <a href="prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
				</li>
	  
			 
			</ul>
		  </nav>
	
	  </div>



		
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-l">Add previous unspent convictions for Jane Smith</h1>
				<form action="all-prev-conviction">
					
					<div class="govuk-inset-text blue-border">
						<p class="govuk-body">
							Add any: </p>
								<ul class="govuk-list govuk-list--bullet">
									<li>active community orders or sentences that the applicant is currently serving</li>
									<li>past offences for which the applicant has been convicted and has already served the sentence for</li>
								</ul>
							
								<details class="govuk-details">
									<summary class="govuk-details__summary">
									  <span class="govuk-details__summary-text">
										Which types of convictions to add
									  </span>
									</summary>
									<div class="govuk-details__text">
										<p class="govuk-body">
											You only need to add any that:  </p>
										<ul class="govuk-list govuk-list--bullet">
											<li>are unspent</li>
											<li>are relevant to the charges the applicant is being held for</li>
											<li>relate to the following categories:</li>
											<ul class="govuk-list govuk-list--bullet">
												<li>arson</li>
												<li>domestic abuse</li>
												<li>drugs</li>
												<li>hate-related attitudes</li>
												<li>stalking and harassment</li>
												<li>violence</li>
												<li>weapons and firearms</li>
											</ul>
											</ul>
									</div>
								  </details>
							
							<details class="govuk-details">
								<summary class="govuk-details__summary">
								  <span class="govuk-details__summary-text">
									When is a conviction spent?
								  </span>
								</summary>
								<div class="govuk-details__text">
									<p class="govuk-body">
										Most convictions or cautions become ‘spent’ after a specific amount of time. This might be after a few months or years, or straight away.
									</p>
									<p class="govuk-body">
										<a href="">Check if the applicant’s convictions or cautions are spent (opens in a new tab)</a>.
									</p>
								</div>
							  </details>
		
					
				
		
					</div>
				
						
						<div class="govuk-form-group">
						
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--m" for="sort">
								Select the conviction type
								</label>
								<div class="govuk-hint">For example, Arson or Drugs</div>
								<select class="govuk-select" id="sort" name="sort">
									<option value="published">Select conviction type</option>
								  <option value="published">Stalking or Harassment</option>
								  <option value="updated">Weapons or Firearms</option>
								  <option value="views">Arson</option>
								  <option value="comments">Violence</option>
								  <option value="comments">Domestic abuse</option>
								  <option value="comments">Hate crime</option>
								  <option value="comments">Drugs</option>
								  <option value="comments">Other</option>
								</select>
							  </div>
	
							  <div class="govuk-form-group">
								<label class="govuk-label  govuk-label--m" for="width-2">
									Number of convictions of this type
								</label>
								<div id="event-name-hint" class="govuk-hint">
									For example, 3
								  </div>
								<input class="govuk-input govuk-input--width-2" id="event-name" name="eventName" type="text">
							  </div>
							
							  <div class="govuk-form-group">
								<fieldset class="govuk-fieldset">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									Are they currently serving a sentence for any of these convictions?
								  </legend>
								  <div class="govuk-radios" data-module="govuk-radios">
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
									  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
									Yes
									  </label>
									</div>
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
									  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
										No, they have served their sentence
									  </label>
									</div>
							
									
								  </div>
								</fieldset>
							  </div>
		
							  <div class="govuk-form-group">
								<fieldset class="govuk-fieldset">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
									Are there any safeguarding details to add about these convictions?
								  </legend>
								  <div class="govuk-hint">For example, if there is an active restraining order or a child protection arrangement in place.</div>
								  <div class="govuk-radios" data-module="govuk-radios">
								
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
										<label class="govuk-label govuk-radios__label" for="contact">
											Yes
										</label>
									  </div>
									  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
										<div class="govuk-form-group">
										  <label class="govuk-label govuk-label--s" for="contact-by-email">
											Enter details of the safeguarding measures
										  </label>
										  <textarea class="govuk-textarea" id="more-detail" name="safeguarding" rows="5" aria-describedby="more-detail-hint"></textarea>
										</div>
									  </div>
									  <div class="govuk-radios__item">
										<input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
										<label class="govuk-label govuk-radios__label" for="whereDoYouLive">
										 No
										</label>
									  </div>
									  <div class="govuk-radios__item">
										<input class="govuk-radios__input" id="whereDoYouLive3" name="whereDoYouLive" type="radio" value="england">
										<label class="govuk-label govuk-radios__label" for="whereDoYouLive3">
										 Not known
										</label>
									  </div>
								  
								  </div>
								  </div>

							  
					  <div class="govuk-button-group govuk-!-margin-top-6">
						<button type="submit" class="govuk-button" data-module="govuk-button">
						 Save and continue
						</button>
						<p class="govuk-link"><a href="task-list-funding">Exit without saving</a> </p> 
					  </div>
				</form>
		

  </div>
</div>
{% endblock %}
