{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
	  
		  
		<nav class="moj-side-navigation" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
			  <li class="moj-side-navigation__item ">
				<a href="add-alleged-offence">Current alleged offences</a>
			  </li>
	  
			  <li class="moj-side-navigation__item moj-side-navigation__item--active">
				<a href="community-supervision" aria-current="mental-health">Probation supervision</a>
			  </li>
			  <li class="moj-side-navigation__item">
				  <a href="prev-conviction" aria-current="mental-health">Previous unspent convictions</a>
				</li>
	  
			 
			</ul>
		  </nav>
	  </div>

	<div class="govuk-grid-column-two-thirds">

<form action="probation-answer" method="post">
<div class="govuk-form-group govuk-!-margin-top-6">
	<fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
	  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		<h1 class="govuk-fieldset__heading">
			Is Jane Smith currently supervised by probation?
		</h1>
	  </legend>
	 <div class="govuk-hint">This includes if they are currently serving a community order or other non-custodial sentence.</div>
	  <div class="govuk-radios" data-module="govuk-radios">
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="probation" name="probation" type="radio" value="yes">
		  <label class="govuk-label govuk-radios__label" for="probation">
			Yes
		  </label>
		</div>
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="probation-2" name="probation" type="radio" value="no">
		  <label class="govuk-label govuk-radios__label" for="probation-2">
			No
		  </label>
		</div>
	  </div>
	</fieldset>
  </div>

<div class="govuk-button-group">
	<button class="govuk-button" type="submit" data-module="govuk-button">Save and continue</button>
	<p class="govuk-link"><a href="task-list-funding">Exit without saving</a> </p> 
  </div>
</form>
  </div>
</div>
{% endblock %}
