{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Confirm applicant's consent</h1>
<p class="govuk-body">You need verbal consent from Jane Smith to send an application for short-term accommodation (CAS2) for bail on their behalf.</p>




<p class="govuk-body">Check that they understand: </p>
<ul class="govuk-list govuk-list--bullet">
	<li>that CAS-2 provides short-term housing and weekly support</li>
	<li>they are responsible for paying for CAS-2 short-term accommodation and support, either through their own means or with public funds</li>
	<li>what will be in the application form, including legal and confidential information about address history, offences, risks to themselves and others and health needs</li>
<li>how and why their data will be collected and used by reading the <a href="">privacy notice (opens in new tab)</a> </li>
	<li>their health needs will be collected from relevant sources, such as drug and alcohol team, mental health in-reach team and healthcare team</li>
	<li>their information will be used to assess their suitability and ensure their safety</li>
	<li> they must leave the CAS-2 accommodation at the end of their Bail order period, and find accommodation to move on to with their support worker's help
	
</ul>
<div class="govuk-form-group govuk-!-margin-top-6">
	<fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
	  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
		<h2 class="govuk-fieldset__heading">
			Has Jane Smith given their verbal consent to apply for short-term accommodation (CAS2) for bail?
		</h2>
	  </legend>
	 
	  <div class="govuk-radios" data-module="govuk-radios">
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
		  <label class="govuk-label govuk-radios__label" for="contact">
			Yes
		  </label>
		</div>
		<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
				  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
					When did they give consent?
				  </legend>
				  <div id="passport-issued-hint" class="govuk-hint">
					For example, 27 2 2025
				  </div>
				  <div class="govuk-date-input" id="passport-issued">
					<div class="govuk-date-input__item">
					  <div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
						  Day
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
					  </div>
					</div>
					<div class="govuk-date-input__item">
					  <div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
						  Month
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
					  </div>
					</div>
					<div class="govuk-date-input__item">
					  <div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
						  Year
						</label>
						<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
					  </div>
					</div>
				  </div>
				</fieldset>
			  </div>
		</div>
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
		  <label class="govuk-label govuk-radios__label">
		No
		  </label>
		</div>

		
	  </div>
	</fieldset>
  </div>

<div class="govuk-button-group">
	<a href="task-list-start" class="govuk-button">
	  Confirm and continue
	</a>
	<p class="govuk-link"><a href="#">Save and exit</a> </p> 
  </div>
  </div>
</div>
{% endblock %}
