{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form class="form" action="id-answer" method="post">

			{{ govukCheckboxes({
			  name: "id-docs",
			  fieldset: {
				legend: {
				  text: "What  identity document (ID) does Jane Smith have?",
				  isPageHeading: true,
				  classes: "govuk-fieldset__legend--l"
				}
			  },
			  hint: {
				text: "Expired ID will be accepted. Select all that apply."
			  },
			  items: [
				{
				  value: "Passport",
				  text: "Passport"
				},
				{
				  value: "Travel pass with photograph",
				  text: "Travel pass with photograph"
				},
				{
				  value: "Birth or Adoption certificate",
				  text: "Birth certificate"
				},
				{
				  value: "Bank account or debit card",
				  text: "Bank account or debit card"
				},
				{
				  value: "Bank, building society or Post Office card account statements",
				  text: "Bank, building society or Post Office card account statements"
				},
				{
				  value: "UK photo driving licence",
				  text: "UK photo driving licence (full or provisional)"
				  
				},
				{
				  value: "Recent wage slip",
				  text: "Recent wage slip (with payee name and NI number)"
				
				},
				{
				  divider: "or"
				},
				{
				  value: "None of these options",
				  text: "None of these options"
				}
			  ]
			}) }}
	
		
	
			<div class="govuk-button-group">
	
			  {{ govukButton({
				text: "Save and continue"
			  }) }}
	  
			  <a href="task-list-personal" class="govuk-link govuk-link--no-visited-state">Exit without saving</a>
	  
			</div>
	
		  </form>
	


  </div>
</div>
{% endblock %}
