{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Jane Smith’s current alleged offences and previous convictions</h1>
<h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body">In this section, we’ll ask you the details below.   </p>

<h3 class="govuk-heading-s">1. Current alleged offences</h3>


<p class="govuk-body">Any charges or accusations for which the applicant is currently being held in custody.  </p>
<div class="govuk-inset-text blue-border">
	<p class="govuk-body">Do not add any historical allegations that have no connection with the charges the applicant is being held for.</p>
	</div>

<h3 class="govuk-heading-s">2. Probation supervision</h3>
<p class="govuk-body">This only applies to applicants who are being supervised by probation. </p>
<p class="govuk-body">If they are, we’ll ask if an OASys risk assessment has been done in the last two years and if it’s been recently updated. 
</p>

<h3 class="govuk-heading-s">3. Previous unspent convictions</h3>
<p class="govuk-body">These refer to any: </p>
<ul class="govuk-list govuk-list--bullet">
	<li>active community orders or sentences that the applicant is currently serving </li>
	<li>past offences for which the applicant has been convicted and has already served the sentence for/li>

	</ul>
	<p class="govuk-body">Most convictions or cautions become ‘spent’ after a specific amount of time. </p>
	<p class="govuk-body"><a class="govuk-link" href="">Check if the applicant’s convictions or cautions are spent (opens in a new tab)</a>.</p>

	<div class="govuk-inset-text blue-border">
		<h4 class="govuk-heading-s">Add only previous unspent convictions that:</h4>
<ul class="govuk-list govuk-list--bullet">
	<li>are relevant to the charges the applicant is being held for</li>
	<li>relate to the following categories:</li>
	<ul class="govuk-list govuk-list--bullet">
		<li>arson</li>
		<li>domestic abuse</li>
		<li>drugs</li>
		<li>hate-related attitudes</li>
		<li>stalking and harassment</li>
		<li>violence</li>
		<li>weapons and firearms</li>
	</ul>
	
</ul>
<p class="govuk-body">You should also include any previous convictions that might raise concerns towards other adults and children.</p>
</div>
<div class="govuk-inset-text blue-border">
	<h4 class="govuk-heading-s">Do not add: </h4>

	<ul class="govuk-list govuk-list--bullet">
		<li>any convictions or cautions that classify as ‘spent’</li>
		<li>unspent convictions that don’t relate to the relevant categories above </li>
		</ul>
  </div>

  <details class="govuk-details">
	<summary class="govuk-details__summary">
	  <span class="govuk-details__summary-text">
		See an example of an applicant’s offences and convictions
	  </span>
	</summary>
	<div class="govuk-details__text">
		<p class="govuk-body">Sarah Jones' legal history:</p>
	  <p class="govuk-heading-s">Current alleged offences</p>
	  <p class="govuk-body">She has just been brought into custody for a reported incident of shoplifting and is awaiting the bail hearing. She has been charged with Theft by the Crown Prosecution Service (CPS).</p>

	  <p class="govuk-heading-s">Previous unspent convictions</p>
	  <p class="govuk-body">In 2024, she was charged with and found guilty of aggravated assault. As a consequence, she is serving a community order while on probation. </p>
	  <p class="govuk-body">She also has an unspent conviction for possession of a prohibited knife for which she has completed a sentence for in 2021. This is still legally relevant (“unspent”).</p>
	  <p class="govuk-body">Both previous unspent convictions are relevant to living in shared accommodation.</p>
	</div>
  </details>
  <div class="govuk-warning-text">
	<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
	<strong class="govuk-warning-text__text">
	  <span class="govuk-visually-hidden">Warning</span>
	  Applicants who are currently charged with, or have any past convictions of cautions, or current allegations of any sexual offences in Schedule 3 of the Sexual Offences Act 2003 are ineligible for this service.
	</strong>
  </div>
  <div class="govuk-button-group govuk-!-margin-top-6">
	<a class="govuk-button" href="add-alleged-offence">Confirm and continue</a>
	<p><a class="govuk-link" href="task-list-funding">Exit without saving</a></p>
  </div>

	
  </div>
</div>
{% endblock %}
