{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Apply for short-term accommodation (CAS2) for bail</h1>
<p class="govuk-body">Use this service to apply for short-term accommodation and support on behalf of someone who is seeking bail.   </p>


<h2 class="govuk-heading-m">Before you start</h2>

<p class="govuk-body">To use this service, you’ll need:  </p>
<ul class="govuk-list govuk-list--bullet">
	<li>verbal consent from the applicant to apply on their behalf</li>
	<li> their prison number - this is the number for the applicant’s record in the Prison National Offender Management Information System (p-NOMIS) .</li>
	</ul>

<h2 class="govuk-heading-m">Supporting information</h2>
<p class="govuk-body">To submit the application, you’ll need details about: </p>
<ul class="govuk-list govuk-list--bullet">
	<li>their solicitor</li>
	<li>their last known address</li>
	<li>their equality information</li>
	<li>their offending history</li>
	<li>their health needs</li>
	<li>the risks of serious harm to themselves or others</li>
	<li>how they are paying for CAS-2 accommodation</li>
	<li>their preferred areas and exclusion zones</li>
	<li>their need for a CAS-2 family unity property</li>
	<li>their bail, including any conditions and the hearing date </li>
</ul>

<div class="govuk-inset-text">
	All questions are mandatory, unless marked as optional.  <br> You can save your progress and return to the application at any time.
  </div>

	<a class="govuk-button govuk-!-margin-top-2" href="enter-prison-num">Start now</a>
 
	
  </div>
</div>
{% endblock %}
