{% extends "layouts/main.html" %}


{% block content %}
<section class="key-details-bar" aria-label="Key details">
    <div class="key-details-bar__key-details">
  <div class="key-details-bar__top-block">
	<span class="govuk-visually-hidden">Application number:</span>
	<span class=" govuk-caption-l">CS-13955</span>
	<span class="govuk-visually-hidden">Application for:</span>
    <h1 class="govuk-heading-l">Jane Smith <span class="govuk-tag govuk-tag--purple" style="color:	#000;">Court application</span></h1>
  </div>
  <div class="key-details-bar__bottom-block govuk-!-padding-top-0">
	<ul class="govuk-list">
		<li>CRN: X698226</li>
		<li>Date of birth: 15/06/1995</li>
		<li>Nationality: British</li>
		<li>Immigration status: British citizen</li>
		<li>Sex: Female</li>
	</ul>
	<p class="govuk-heading-s">Application status: <span class="govuk-tag govuk-tag--yellow" style="color:	#594d00;">In progress</span></p>
	
    
  </div>
    </div>
  </section>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		


<h2 class="govuk-heading-m govuk-!-margin-top-6">Task list</h2>
<p class="govuk-heading-s">You have completed 11 of 17 tasks</p>

<h2 class="govuk-heading-m">Before you apply</h2>
	
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
				<a class="govuk-body" href="eligibility">Confirm eligibility</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					Completed
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
				  <a class="govuk-body" href="consent">Confirm consent to share information</a>
					</dt>
					<dd class="govuk-summary-list__value">
					  Completed
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
				  <a class="govuk-body" href="referrer-details">Add referrer details</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
				  <a class="govuk-body" href="solicitor">Add solicitor details</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>

				</dl>
				<h2 class="govuk-heading-m">About the applicant</h2>
	
				<dl class="govuk-summary-list">

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="institution">Add personal details</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="fixed-address"><span class="govuk-visually-hidden">Change </span>Previous address</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>

				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="equality-start"><span class="govuk-visually-hidden">Change </span>Equality and diversity monitoring</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			  </dl>

			  <h2 class="govuk-heading-m">Area, funding and ID</h2>

			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link govuk-body" href="area-preference-1">Add exclusion zones and preferred areas</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					Completed
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>


			  	<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="funding">Confirm funding and ID</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				 
			
			  </div>
			
			  </dl>


			  <h2 class="govuk-heading-m">Offence information</h2>

			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link govuk-body" href="offences-start">Add alleged offences</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					Completed
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>


			  	<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="probation">Add probation supervision details</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				 
			</div>
			  
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  <a class="govuk-link govuk-body" href="prev-conviction">Add previous convictions</a>
				  <dd class="govuk-summary-list__value">
					Completed
				  </dd>
				<dd class="govuk-summary-list__actions">
				  
				</dd>
			 
		</div>
			
			  </dl>

				
			
		
				
				 
			  
		
		
		  
		
			  <h2 class="govuk-heading-m">Risks and needs</h2>
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link govuk-body" href="health/liaison"><span class="govuk-visually-hidden">Change </span>Health needs</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					Completed
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="risks/risk-answers"><span class="govuk-visually-hidden">Change </span>Risks to the applicant and others</a>
					</dt>
					<dd class="govuk-summary-list__value">
						Completed
					  </dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			
			  
			
			  </dl>
		
		 
				
			  <h2 class="govuk-heading-m">Bail information</h2>
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link govuk-body" href="bail-conditions"><span class="govuk-visually-hidden">Change </span>Add bail conditions</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag govuk-tag--grey">Not started</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link govuk-body" href="bail-hearing"><span class="govuk-visually-hidden">Change </span>Add bail hearing information</a>
					</dt>
					<dd class="govuk-summary-list__value">
					  <div class="govuk-tag govuk-tag--grey">Not started</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			
			  
			
			  </dl>
		
		
		
		

				
			 <h2 class="govuk-heading-m">
				Check answers
			  </h2>
		
	
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<p class="govuk-body">Check your answers</p>
					<p class="govuk-body govuk-hint">All questions must be answered first</p>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag govuk-tag--grey">Cannot start yet</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

			
			  
			
			  
			
			  </dl>
	
		  <a class="govuk-button govuk-button--secondary" href="dashboard">Return to applications dashboard</a>
  </div>
</div>
{% endblock %}
