{% extends "layouts/main.html" %}

{% set title = 'Confirm Ann Example\'s details telling us there was no bed for them' %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop">
			<h1 class="govuk-heading-l">
				{{title}}
			</h1>

			<p class="govuk-hint govuk-!-margin-bottom-6">Imported from NDelius <strong>Thursday 14 November 2024</strong></p>

			{{ govukSummaryList({
				rows: [
					{
						key: {
							html: 'Full name'
						},
						value: {
							html: 'Ann Example'
						}
					},
					{
						key: {
							html: 'Date of birth'
						},
						value: {
							html: '31/01/2000'
						}
					},
					{
						key: {
							html: 'Nationality'
						},
						value: {
							html: 'Not found'
						}
					},
					{
						key: {
							html: 'Sex'
						},
						value: {
							html: 'Female'
						}
					},
					{
						key: {
							html: 'Prison number'
						},
						value: {
							html: 'A12345Z'
						}
					},
					{
						key: {
							html: 'Prison'
						},
						value: {
							html: 'Moorland (HMP & YOI)'
						}
					},
					{
						key: {
							html: 'PNC number'
						},
						value: {
							html: 'Not found'
						}
					},
					{
						key: {
							html: 'CRN from NDelius'
						},
						value: {
							html: 'X123456'
						}
					},
					{
						key: {
							html: 'Status'
						},
						value: {
							html: '<span class="govuk-tag">In Custody</span>'
						}
					}
				]
			}) }}

			{{ govukWarningText({
				html: 'If any of these details are missing or wrong, please update NDelius before continuing.'
			}) }}

			{{ govukButton({
				text: 'Confirm and submit',
				href: 'submitted'
			}) }}

		</div>
	</div>
{% endblock %}




