{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
  {{ title+' –' if title }} {{ serviceName }} – GOV.UK
{% endblock %}

{# Add the phase banner and back link to each page #}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: 'Prototype', classes: 'govuk-tag--pink' },
    html: 'This is not a real service, it is only for testing ideas.'
  }) }}

  {# Add a back link block to just override that and not the phase banner #}
  {% block backLink %}
    {# Add a javascript back link, remove on pages that don't need it with:
    {% set back = false %} #}
    {{ govukBackLink({
      html: 'Back',
      href: 'javascript:history.back()'
    }) if back != false }}
  {% endblock %}
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '/'
    },
    serviceLabel: {
      text: serviceName,
      href: '/'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Username',
        href: '#',
        active: true
      }, {
        text: 'Sign out',
        href: '/'
      }]
    } if nav != false

  }) }}
{% endblock %}

{# Setup form question pages by default, override by using content block if not needed #}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop">

      {# Forms all post to themselves, action controlled by _routes.js in each prototype #}
      <form method="post">

        {# Use the questions block on each page without needing to add in the rest of this block #}
        {% block questions %}{% endblock %}

        {# Set default button to continue, use buttons block to override #}
        {% block buttons %}
          {{ govukButton({
            text: 'Continue'
          }) }}
        {% endblock %}

      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {# Add link to hosted prototype app if running locally #}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: '/manage-prototype',
          text: 'Manage prototype'
        } if local,
        {
          href: '/manage-prototype/clear-data',
          text: 'Clear data'
        },
        {
          href: 'https://hmpps-community-accommodation-tier-2-bail-prototypes-main.apps.live.cloud-platform.service.justice.gov.uk' + currentURL,
          text: 'View hosted page (opens in new tab)',
          attributes: {
            target: 'blank'
          }
        } if local,
        {
          href: 'https://github.com/ministryofjustice/hmpps-community-accommodation-tier-2-bail-prototypes/',
          text: 'View repository (opens in new tab)',
          attributes: {
            target: 'blank'
          }
        }
      ] | cleanArray,
      visuallyHiddenTitle: 'Footer links'
    }
  }) }}
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="assets/application.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="assets/jquery.js"></script>
  <script src="assets/application.js"></script>
{% endblock %}
