{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Application overview</h1>

<div class="card card--overview">
	<span class="govuk-body-l" style="color:white;">CS-19355</span>
	<h2 class="govuk-heading-m" style="color:white;">Jane Smith</h1>
	<h2 class="govuk-heading-s" style="color:white;">Application status: <span class="govuk-tag govuk-tag--yellow">In progress</span></h2>

	<table class="govuk-table">
		<tbody class="govuk-table__body" style="color:white;">
		
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">Date of birth</th>
			<td class="govuk-table__cell">26/09/1995 (29 years old)</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">Nationality</th>
			<td class="govuk-table__cell">British</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">Immigration status</th>
			<td class="govuk-table__cell">British citizen</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">Sex</th>
			<td class="govuk-table__cell">Female</td>
		  </tr>
		</tbody>
	  </table>

</div>
<h2 class="govuk-heading-m">Task list</h2>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				
			 <h2 class="govuk-summary-card__title">
				Applicant information
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="consent"><span class="govuk-visually-hidden">Change </span>Applicant consent</a>
					</dt>
					<dd class="govuk-summary-list__value">
					  <div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link" href="consent"><span class="govuk-visually-hidden">Change </span>Applicant consent</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag">Completed</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="independent"><span class="govuk-visually-hidden">Change </span>Independent living</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="primary-offence"><span class="govuk-visually-hidden">Change </span>Offending history</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  	<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="address"><span class="govuk-visually-hidden">Change </span>Previous address</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="address"><span class="govuk-visually-hidden">Change </span>Mobile phone</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="solicitor"><span class="govuk-visually-hidden">Change </span>Solicitor information</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="sexual-orientation"><span class="govuk-visually-hidden">Change </span>Equality and diversity monitoring</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			  
			
			  </dl>
			</div>
		  </div>
		  
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				
			 <h2 class="govuk-summary-card__title">
				Needs and risks
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link" href="liaison"><span class="govuk-visually-hidden">Change </span>Health needs</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag">Completed</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="risks-all"><span class="govuk-visually-hidden">Change </span>Risks to the applicant and others</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			
			  
			
			  </dl>
			</div>
		  </div>
		  
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				
			 <h2 class="govuk-summary-card__title">
				CAS-2 funding and area preferences
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link" href="funding"><span class="govuk-visually-hidden">Change </span>Paying for CAS-2</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag">Completed</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="family-unit"><span class="govuk-visually-hidden">Change </span>Family and dependants</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  	<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
					  <a class="govuk-link" href="area-preferences"><span class="govuk-visually-hidden">Change </span>Area preferences</a>
					</dt>
					<dd class="govuk-summary-list__value">
						<div class="govuk-tag">Completed</div>
					</dd>
					<dd class="govuk-summary-list__actions">
					  
					</dd>
				  </div>
			  
			
			  
			
			  </dl>
			</div>
		  </div>
		  
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				
			 <h2 class="govuk-summary-card__title">
				Check and submit
			  </h2>
			</div>
			<div class="govuk-summary-card__content">
			  <dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
				  <dt class="govuk-summary-list__key">
					<a class="govuk-link" href="check-answers">Check your answers</a>
				  </dt>
				  <dd class="govuk-summary-list__value">
					<div class="govuk-tag govuk-tag--grey">Not started</div>
				  </dd>
				  <dd class="govuk-summary-list__actions">
					
				  </dd>
				</div>

			  
			
			  
			
			  </dl>
			</div>
		  </div>
  </div>
</div>
{% endblock %}
